<div class="mt-2">
    <strong>Critère : {{ critere.libelle }}</strong><br>
    <label for="reponse_{{ critere.id }}">Réponse</label>
    <select id="reponse_{{ critere.id }}" name="reponse_{{ critere.id }}" class="form-select">
        <option>Choisissez une option</option>
        {% for choix in critere.valeurs|split(',') %}
            <option>{{ choix }}</option>
        {% endfor %}
    </select>

    <label for="commentaire_{{ critere.id }}">Commentaire libre de la réponse</label>
    <textarea id="commentaire_{{ critere.id }}" name="commentaire_{{ critere.id }}" class="form-control" rows="6"></textarea>
</div>
