<div class="card mb-5">
    <div class="card-body">
        <h3 class="card-title">Contexte</h5>
        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dt>IUT</dt>
                    <dd>{{ qapes.iutSite != null ? qapes.iutSite.iut.libelle  : '-'}} ({{ qapes.iutSite != null ?
                        qapes.iutSite.libelle : '-' }})</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Spécialité</dt>
                    <dd>{{ qapes.specialite != null ? qapes.specialite.sigle : '-' }}</dd>
                    <dt>Parcours</dt>
                    <dd>{{ qapes.parcours != null ? qapes.parcours.libelle : '-' }}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Auteur(s)</dt>
                    <dd>{% for aut in qapes.auteur %}{{ aut.display }}{% if not loop.last %}, {% endif %}{% endfor %}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
