{% extends 'base.html.twig' %}

{% block title %}{{ qapes.sae.libelle }}{% endblock %}
{% block header %}{{ qapes.sae.libelle }}{% endblock %}

{% block content %}
    {{ include('labset/qapes_sae/_synthese_iut.html.twig') }}
    <section {{ stimulus_controller('qapes', {
        urlApi: path('app_qapes_sae_api'),
    }) }}>
        {% form_theme form 'form/my-form.html.twig' %}
        {{ form_start(form) }}
        <div class="row mb-4">
            <div class="col-md-6">
                {{ form_row(form.iut) }}
                {{ form_row(form.iutSite) }}
                {{ form_row(form.specialite) }}
                {{ form_row(form.parcours) }}
                {{ form_row(form.sae) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.redacteur) }}
                {{ form_row(form.redacteursAutres) }}
            </div>
        </div>
        <button class="btn btn-primary">Sauvegarder et continuer vers la saisie</button>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ',
        },
        {
            href:path('app_labset'),
            title: 'Liste des SAE',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_labset') }}" class="btn
            btn-outline-success
            btn-icon btn-icon-end
    w-100
    w-sm-auto"
    >
        <i class="bi bi-pencil"></i>
        <span>retour</span>
    </a>
{% endblock %}
