{% extends 'base.html.twig' %}

{% block header %}Évaluation de la SAE{% endblock %}

{% block content %}
    {{ include('labset/qapes_sae/_synthese_iut.html.twig') }}
    {{ include('labset/qapes_sae/_synthese_sae.html.twig') }}

    <h2>Évaluation de la qualité de la SAÉ</h2>
    {% form_theme form 'form/my-form.html.twig' %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-4">
            {{ form_row(form.dateEvaluation) }}
        </div>
    </div>
    <p><strong>La réponse "pas encore" signifie :</strong> La SAÉ ne permet pas encore la mise en œuvre de ce critère, mais des modifications sont prévues pour la prochaine mise en œuvre de façon à l’améliorer. Dans le champ « commentaire », précisez les raisons et les pistes d’amélioration. </p>

    {% for critere in criteres %}
        <div class="row mb-5">
            <div class="col-lg-5">
                <h3 class="h4">{{ critere.libelle }}</h3>
                <p><i>{{ critere.description|raw }}</i></p>
            </div>
            <div class="col-lg-2">
                <label for="reponse_{{ critere.id }}">Réponse</label>
                <select id="reponse_{{ critere.id }}" name="reponse_{{ critere.id }}" class="form-select mb-3">
                    <option>Choisir une réponse</option>
                    {% for rep in critere.qapesCritereReponses %}
                    <option value="{{ rep.id }}" {% if reponses[critere.id] is defined and reponses[critere.id]
                    .reponse != null and  reponses[critere.id].reponse.id == rep.id %}selected{% endif %}>
                        {{ rep.libelle }}
                        {% endfor %}
                </select>
            </div>
            <div class="col-lg-5">
                <label for="commentaire_{{ critere.id }}">Commentaire</label>
                <textarea id="commentaire_{{ critere.id }}" name="commentaire_{{ critere.id }}" rows="6"
                          class="form-control">{% if reponses[critere.id] is defined %}{{ reponses[critere.id].commentaire }}{% endif %}</textarea>
            </div>
        </div>
    {% endfor %}

    <button class="btn btn-primary mt-3">
        Sauvegarder et continuer vers l'analyse
    </button>
    {{ form_end(form) }}

{% endblock %}


{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ',
        },
        {
            href:path('app_labset'),
            title: 'Liste des SAE',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_labset') }}" class="btn
            btn-outline-success
            btn-icon btn-icon-end
    w-100
    w-sm-auto"
    >
        <i class="bi bi-pencil"></i>
        <span>retour</span>
    </a>
{% endblock %}
