{% extends 'base.html.twig' %}

{% block header %}Détails de la SAE{% endblock %}

{% block content %}
    {{ include('labset/qapes_sae/_synthese_iut.html.twig') }}

    <section {{ stimulus_controller('qapes', {
        urlApi: path('app_qapes_sae_api'),
    }) }}>
        {% form_theme form 'form/my-form.html.twig' %}
        {{ form_start(form) }}

        <h2 class="h4">Informations clefs</h2>
        <div class="row mb-4">
            <div class="col-md-6">
                {{ form_row(form.auteur) }}
                {{ form_row(form.auteursAutres) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.intituleSae) }}
                {{ form_row(form.typeSae) }}
                <p>
                    <ul>
                    <li><strong>Simulation :</strong> « Dans une simulation, l’étudiant endosse un rôle qui lui permet d’expérimenter ses responsabilités futures en contexte protégé, sans prendre de risques. Il y teste des théories, des modèles, des comportements, et analyse les effets de ses actions. Les « jeux de rôles » et les « jeux sérieux » ou « serious games » entrent dans cette catégorie, qui très souvent mobilise des technologies numériques». (Georges et Poumay, 2022, p.51)</li>
                    <li><strong>Étude de Cas :</strong> « Son but est de comprendre et de décrire un cas, voire de le résoudre s’il est porteur d’un problème, annoncé ou non. L’étude de cas nécessite de découvrir, sélectionner, hiérarchiser, confronter des ressources variées, fournies ou non par l’enseignant » (Georges et Poumay, 2022, p.51).</li>
                    <li><strong>Projet :</strong> « Dans un projet, l’étudiant mène des actions qui aboutissent à une réalisation concrète. Il élabore et suit un plan d’action en lien avec l’intention du projet. L’ampleur et l’exigence d’un projet nécessitent souvent de le confier à un groupe d’étudiants » (Georges et Poumay, 2022, p.51). Ce type d’activité convient aux grands groupes moyennant la communication d’orientations claires, l’offre d’un accompagnement régulier, la communication de feedbacks formatifs et la mise à disposition d’outils de gestion de projet.</li>
                    <li><strong>L’investigation :</strong> « Dans une investigation, l’étudiant endosse le rôle de chercheur. Il apporte sa contribution à un champ de connaissances. À travers une démarche rigoureuse, il questionne une réalité pour parvenir à comprendre un phénomène, un principe, un comportement, un système » (Georges et Poumay, 2022, p.51).</li>
                    <li><strong>Le stage :</strong> « À travers le stage, l’étudiant est immergé dans le métier. Il se voit confier des missions concrètes et entretient des relations de travail avec des collègues. Il se transforme par l’analyse de ses expériences de travail réelles » (Georges et Poumay, 2022, p.51).</li>
                    <li>Autre</li>
                </ul>
                </p>
            </div>
        </div>

        <h2 class="h4">Liens Web</h2>
        <div class="row mb-4">
            <div class="col-md-6">
                {{ form_row(form.lien) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.lienLigneDuTemps) }}
            </div>
        </div>

        <h2 class="h4">Aspects pédagogiques</h2>
        <div class="row mb-4">
            <div class="col-md-6">
                {{ form_row(form.aEpingler) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.objectifsSae) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.deroulementSae) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.evaluations) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.saeGroupeIndividuelle) }}
            </div>
        </div>

        <h2 class="h4">Aspects administratifs</h2>
        <div class="row mb-4">
            <div class="col-md-4">
                {{ form_row(form.modeDispense) }}
                {{ form_row(form.nbEtudiants) }}
                {{ form_row(form.nbEncadrants) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.nbEcts) }}
                {{ form_row(form.nbHeuresAutonomie) }}
                {{ form_row(form.nbHeuresDirigees) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.publicCible) }}
                {{ form_row(form.publicCibleCommentaire) }}
            </div>
        </div>

        <h2 class="h4">Version</h2>
        <div class="row mb-4">
            <div class="col-md-4">
                {{ form_row(form.anneeCreation) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.version) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.dateVersion) }}
            </div>
        </div>
        <button class="btn btn-primary">Sauvegarder et continuer vers l'évaluation</button>
        {{ form_end(form) }}
    </section>
{% endblock %}


{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ',
        },
        {
            href:path('app_labset'),
            title: 'Liste des SAE',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_labset') }}" class="btn
            btn-outline-success
            btn-icon btn-icon-end
    w-100
    w-sm-auto"
    >
        <i class="bi bi-pencil"></i>
        <span>retour</span>
    </a>
{% endblock %}
