{% extends 'base.html.twig' %}

{% block header %}Évaluation de la SAE{% endblock %}

{% block content %}
    {{ include('labset/qapes_sae/_synthese_iut.html.twig') }}
    {{ include('labset/qapes_sae/_synthese_sae.html.twig') }}

    <div class="card mt-2">
        <div class="card-body">
            {% form_theme form 'form/my-form.html.twig' %}
            {{ form_start(form) }}
            {{ form_row(form.dateEvaluation) }}

            {% for critere in criteres %}
                <hr>
                <div class="mt-2">
                    <p>
                        <strong>{{ critere.libelle }}</strong>
                    </p>

                    <label for="critere_{{ critere.id }}">Réponse</label>
                    <select id="critere_{{ critere.id }}" name="critere_{{ critere.id }}" class="form-select">
                        <option>Choisir une réponse</option>
                        {% for rep in critere.qapesCritereReponses %}
                        <option value="{{ rep.id }}" {% if reponses[critere.id] is defined and reponses[critere.id]
                        .reponse != null and  reponses[critere.id].reponse.id == rep.id %}selected{% endif %}>
                            {{ rep.libelle }}
                            {% endfor %}
                    </select>

                    <label for="commentaire_{{ critere.id }}">Commentaire</label>
                    <textarea id="commentaire_{{ critere.id }}" name="commentaire_{{ critere.id }}"
                              class="form-control">{% if reponses[critere.id] is defined %}{{ reponses[critere.id].commentaire }}{% endif %}</textarea>
                </div>
            {% endfor %}

            <button class="btn btn-primary mt-3">
                Sauvegarder et continuer vers l'analyse
            </button>
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}


{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ',
        },
        {
            href:path('app_labset'),
            title: 'Liste des SAE',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_labset') }}" class="btn
            btn-outline-success
            btn-icon btn-icon-end
    w-100
    w-sm-auto"
    >
        <i class="bi bi-pencil"></i>
        <span>retour</span>
    </a>
{% endblock %}
