{% extends 'base.html.twig' %}

{% block header %}Détails de la SAE{% endblock %}

{% block content %}
    {{ include('labset/qapes_sae/_synthese_iut.html.twig') }}

    <section {{ stimulus_controller('qapes', {
        urlApi: path('app_qapes_sae_api'),
    }) }}>
        {% form_theme form 'form/my-form.html.twig' %}
        {{ form_start(form) }}

        <h2 class="h4">Informations clefs</h2>
        <div class="row mb-4">
            <div class="col-md-6">
                {{ form_row(form.auteur) }}
                {{ form_row(form.auteursAutres) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.intituleSae) }}
                {{ form_row(form.typeSae) }}
            </div>
        </div>

        <h2 class="h4">Liens Web</h2>
        <div class="row mb-4">
            <div class="col-md-6">
                {{ form_row(form.lien) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.lienLigneDuTemps) }}
            </div>
        </div>

        <h2 class="h4">Aspects pédagogiques</h2>
        <div class="row mb-4">
            <div class="col-md-6">
                {{ form_row(form.aEpingler) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.objectifsSae) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.deroulementSae) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.evaluations) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.saeGroupeIndividuelle) }}
            </div>
        </div>

        <h2 class="h4">Aspects administratifs</h2>
        <div class="row mb-4">
            <div class="col-md-4">
                {{ form_row(form.modeDispense) }}
                {{ form_row(form.nbEtudiants) }}
                {{ form_row(form.nbEncadrants) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.nbEcts) }}
                {{ form_row(form.nbHeuresAutonomie) }}
                {{ form_row(form.nbHeuresDirigees) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.publicCible) }}
                {{ form_row(form.publicCibleCommentaire) }}
            </div>
        </div>

        <h2 class="h4">Version</h2>
        <div class="row mb-4">
            <div class="col-md-4">
                {{ form_row(form.anneeCreation) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.version) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.dateVersion) }}
            </div>
        </div>
        <button class="btn btn-primary">Sauvegarder et continuer vers l'évaluation</button>
        {{ form_end(form) }}
    </section>
{% endblock %}


{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ',
        },
        {
            href:path('app_labset'),
            title: 'Liste des SAE',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_labset') }}" class="btn
            btn-outline-success
            btn-icon btn-icon-end
    w-100
    w-sm-auto"
    >
        <i class="bi bi-pencil"></i>
        <span>retour</span>
    </a>
{% endblock %}
