{% extends 'base.html.twig' %}

{% block header %}Évaluation de la SAE{% endblock %}

{% block content %}
    {{ include('labset/qapes_sae/_synthese_iut.html.twig') }}
    {{ include('labset/qapes_sae/_synthese_sae.html.twig') }}


    <div class="card mt-2" {{ stimulus_controller('qapes3', {
        urlApi: path('app_qapes_sae_api_step3', {qapes: qapes.id}),
        urlPost: path('app_qapes_sae_post_step3', {qapes: qapes.id}),
    }) }}>
        <div class="card-body">
            {% form_theme form 'form/my-form.html.twig' %}
            {{ form_start(form) }}
            {{ form_row(form) }}
            <button class="btn btn-primary mb-3">
                Sauvegarder
            </button>
            {{ form_end(form) }}
            <div id="listeCriteres" {{ stimulus_target('qapes3', 'listeCriteres') }}>
            </div>

            <div>
                <label for="critere">Choisir un critère</label>
                <select id="critere" class="form-select">
                    <option>Choisir</option>
                    {% for critere in criteres %}
                        <option value="{{ critere.id }}">{{ critere.libelle }}</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-primary" data-action="click->qapes3#addCritere">Ajouter ce
                                                                                                     critère
                </button>
            </div>
            <div id="critereList" {{ stimulus_target('qapes3', 'critereList') }}>
            </div>


        </div>
    </div>



{% endblock %}


{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ',
        },
        {
            href:path('app_labset'),
            title: 'Liste des SAE',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_labset') }}" class="btn
            btn-outline-success
            btn-icon btn-icon-end
    w-100
    w-sm-auto"
    >
        <i class="bi bi-pencil"></i>
        <span>retour</span>
    </a>
{% endblock %}
