{% extends 'base.html.twig' %}

{% block title %}{{ qapes.intituleSae }}{% endblock %}
{% block header %}{{ qapes.intituleSae }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Contexte</h3>
                    <dl>
                        <dt>IUT</dt>
                        <dd>{{ qapes.iutSite != null ? qapes.iutSite.iut.libelle  : '-'}} ({{ qapes.iutSite != null ? qapes.iutSite.libelle : '-' }})</dd>
                        <dt>Spécialité</dt>
                        <dd>{{ qapes.specialite != null ? qapes.specialite.sigle : '-' }}</dd>
                        <dt>Parcours</dt>
                        <dd>{{ qapes.parcours != null ? qapes.parcours.libelle : '-' }}</dd>
                        <dt>SAÉ dans le programme</dt>
                        <dd>
                          {{ qapes.sae != null ? qapes.sae.libelle : '-' }}
                          ({{ qapes.sae != null ? qapes.sae.codeMatiere : '-' }})
                        </dd>
                        <dt>Auteur(s)</dt>
                        <dd>{% for aut in qapes.auteur %}{{ aut.display }}{% if not loop.last %}, {% endif %}{% endfor %}</dd>
                        <dt>Rédacteur(s)</dt>
                        <dd>{% for red in qapes.redacteur %}{{ red.display }}{% if not loop.last %}, {% endif %}{% endfor %}</dd>
                    </dl>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Liens Web</h3>
                    <dl>
                        <dt>Lien vers une présentation de la SAÉ</dt>
                        <dd><a href="{{ qapes.lien }}" target="_blank">{{ qapes.lien }}</a></dd>
                        <dt>Lien vers la ligne du temps de la SAÉ</dt>
                        <dd><a href="{{ qapes.lienLigneDuTemps }}" target="_blank">{{ qapes.lienLigneDuTemps }}</a></dd>
                    </dl>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Aspects administratifs</h3>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <strong class="mt-2">Nombre d’étudiants</strong>
                            <p class="display-3">{{ qapes.nbEtudiants }}</p>
                        </div>
                        <div class="col-md-6 mb-4">
                            <strong class="mt-2">Nombre d’encadrants</strong>
                            <p class="display-3">{{ qapes.nbEncadrants }}</p>
                        </div>
                        <div class="col-md-6 mb-4">
                            <strong class="mt-2">Nombre d’heures en autonomie</strong>
                            <p class="display-3">{{ qapes.nbHeuresAutonomie }}</p>
                        </div>
                        <div class="col-md-6 mb-4">
                            <strong class="mt-2">Nombre d’heures dirigées</strong>
                            <p class="display-3">{{ qapes.nbHeuresDirigees }}</p>
                        </div>
                        <div class="col-md-6 mb-4">
                            <strong class="mt-2">Crédits ECTS</strong>
                            <p class="display-5">{{ qapes.nbEcts }}</p>
                        </div>
                        <div class="col-md-6 mb-4">
                            <strong class="mt-2">Mode de dispense</strong>
                            <p>{{ qapes.modeDispense }}</p>
                        </div>
                    </div>
                    <strong class="mt-2">Public cible</strong>
                    <p>{{ qapes.publicCible }}</p>
                    <strong class="mt-2">Commentaire sur le public cible</strong>
                    <p>{{ qapes.publicCibleCommentaire }}</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Version</h3>
                    <strong class="mt-2">
                        Année de création de la SAÉ /
                        Version
                    </strong>
                    <p>
                        {{ qapes.anneeCreation }} /
                        {{ qapes.version }} - {{ qapes.dateVersion }}
                    </p>
                </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-8">
            <section class="mb-5">
                <div class="row">
                    <div class="col-md-10">
                        <h2 class="h3">Qualité de la SAÉ</h2>
                    </div>
                    <div class="col-md-2">
                        <p class="text-end">Évalué le {{ qapes.dateEvaluation }}</p>
                    </div>
                </div>
                <div class="row">
                    {% for critere in qapes.qapesSaeCritereReponse %}
                        <div class="col-md-6 mb-4">
                            <div class="d-flex align-items-center mb-3">
                                <span class="criterion" style="background-color: #{{ critere.reponse != null ?
                                critere.reponse.couleur : 'ffffff' }}">
                                    {{ critere.reponse != null ? critere.reponse.libelle : 'Non défini' }}
                                </span>
                                <h3 class="flex-grow-1">{{ critere.critere.libelleAffichage != null ? critere.critere
                                    .libelleAffichage : critere.critere.libelle }}</h3>
                            </div>
                            <p>{{ critere.commentaire|raw }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <h2 class="h4">Aspects pédagogiques</h2>
            <div class="row mb-5">
                <div class="col-md-6">
                    <strong class="mt-2">À épingler</strong>
                    <p>{{ qapes.aEpingler != null ? qapes.aEpingler|markdown_to_html  : '' }}</p>
                </div>
                <div class="col-md-6">
                    <strong class="mt-2">Objectifs</strong>
                    <p>{{ qapes.objectifsSae != null ? qapes.objectifsSae|markdown_to_html  : '' }}</p>
                </div>
                <div class="col-md-6">
                    <strong class="mt-2">Déroulement</strong>
                    <p>{{ qapes.deroulementSae != null ? qapes.deroulementSae|markdown_to_html : ''  }}</p>
                </div>
                <div class="col-md-6">
                    <strong class="mt-2">Modalités d'évaluation</strong>
                    <p>{{ qapes.evaluations != null ? qapes.evaluations|markdown_to_html : '' }}</p>
                </div>
                <div class="col-md-6">
                    <strong class="mt-2">Composition de la SAÉ</strong>
                    <p>{{ qapes.saeGroupeIndividuelle }}</p>
                </div>
                <div class="col-md-6">
                    <strong class="mt-2">Type de SAÉ</strong>
                    <p>{{ qapes.typeSae }}</p>
                </div>
            </div>

            <h2 class="h4">Référentiel de compétences</h2>
            {{ include('labset/qapes_sae/_referentiel.html.twig') }}
        </div
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ',
        },
        {
            href:path('app_labset'),
            title: 'Liste des SAE',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_qapes_sae_edit', {id:qapes.id}) }}" class="btn
            btn-outline-warning
            btn-icon btn-icon-end
    w-100
    w-sm-auto"
    >
        <i class="bi bi-pencil"></i>
        <span>Modifier</span>
    </a>
{% endblock %}
