{% extends 'base.html.twig' %}

{% block title %}{{ qapes.sae.libelle }}{% endblock %}
{% block header %}{{ qapes.sae.libelle }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Contexte</h5>
                    <dl>
                        <dt>IUT</dt>
                        <dd>{{ qapes.iutSite != null ? qapes.iutSite.iut.libelle  : '-'}} ({{ qapes.iutSite != null ? qapes.iutSite.libelle : '-' }})</dd>
                        <dt>Spécialité</dt>
                        <dd>{{ qapes.specialite != null ? qapes.specialite.sigle : '-' }}</dd>
                        <dt>Parcours</dt>
                        <dd>{{ qapes.parcours != null ? qapes.parcours.libelle : '-' }}</dd>
                        <dt>Auteur(s)</dt>
                        <dd>{% for aut in qapes.auteur %}{{ aut.display }}{% if not loop.last %}, {% endif %}{% endfor %}</dd>
                    </dl>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Liens Web</h5>
                    <dl>
                        <dt>Lien vers une présentation de la SAÉ</dt>
                        <dd><a href="{{ qapes.lien }}" target="_blank">{{ qapes.lien }}</a></dd>
                        <dt>Lien vers la ligne du temps de la SAÉ</dt>
                        <dd><a href="{{ qapes.lienLigneDuTemps }}" target="_blank">{{ qapes.lienLigneDuTemps }}</a></dd>
                    </dl>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Aspects administratifs</h5>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <strong class="mt-2">Nombre d’étudiants</strong>
                            <p class="display-3">{{ qapes.nbEtudiants }}</p>
                        </div>
                        <div class="col-md-6 mb-4">
                            <strong class="mt-2">Nombre d’encadrants</strong>
                            <p class="display-3">{{ qapes.nbEncadrants }}</p>
                        </div>
                        <div class="col-md-6 mb-4">
                            <strong class="mt-2">Nombre d’heures en autonomie</strong>
                            <p class="display-3">{{ qapes.nbHeuresAutonomie }}</p>
                        </div>
                        <div class="col-md-6 mb-4">
                            <strong class="mt-2">Nombre d’heures dirigées</strong>
                            <p class="display-3">{{ qapes.nbHeuresDirigees }}</p>
                        </div>
                        <div class="col-md-6 mb-4">
                            <strong class="mt-2">Crédits ECTS</strong>
                            <p class="display-5">{{ qapes.nbEcts }}</p>
                        </div>
                        <div class="col-md-6 mb-4">
                            <strong class="mt-2">Mode de dispense</strong>
                            <p class="display-5">{{ qapes.modeDispense }}</p>
                        </div>
                    </div>
                    <strong class="mt-2">Public cible</strong>
                    <p class="display-4">{{ qapes.publicCible }}</p>
                    <strong class="mt-2">Commentaire sur le public cible</strong>
                    <p>{{ qapes.publicCibleCommentaire }}</p>
                </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-8">
            <section class="mb-5">
                <h2 class="h3">Qualité de la SAÉ</h2>
                <strong>Date de l'évaluation LABSET : {{ qapes.dateEvaluation }}</strong>
                <div class="row">
                    {% for critere in qapes.qapesSaeCritereReponses %}
                        <div class="col-md-6 mt-2">
                            <strong>{{ critere.qapesCritere != null ? critere.qapesCritere.libelle }} : {{ critere.reponse
                                }}</strong>
                            <div>
                                {{ critere.commentaireRepose|raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            {{ include('labset/qapes_sae/_synthese_sae.html.twig') }}
        </div
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ',
        },
        {
            href:path('app_labset'),
            title: 'Liste des SAE',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_qapes_sae_edit', {id:qapes.id}) }}" class="btn
            btn-outline-warning
            btn-icon btn-icon-end
    w-100
    w-sm-auto"
    >
        <i class="bi bi-pencil"></i>
        <span>Modifier</span>
    </a>
{% endblock %}
