<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <title>Export du référentiel de formation du B.U.T. {{ departement.sigle }}</title>
    <style>
        body {
            font-family:  Arial, sans-serif;
            font-size: 12px;
            font-weight: normal;
        }

        p {
            line-height: 16px;
        }

        ul {
            list-style-type: none;
        }

        li:before {
            content: '- ';
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

    </style>
</head>
<body>
<h1 style="margin-top:15px">{{ departement.libelle }}</h1>

<h2>Présentation de la spécialité</h2>
<p>
{{ departement.textePresentation|nl2br|markdown_to_html|raw }}
</p>
<br>
{% if parcours is defined %}
    <h2>Parcours {{ parcours.libelle }}</h2>
    <h2>Présentation du parcours</h2>
    <p>
        {{ parcours.textePresentation|nl2br|markdown_to_html|raw }}
    </p>
    <div style="page-break-after: always"></div>
{% endif %}

{% for semestre in semestres %}
    <h3>{{ semestre.libelle }}</h3>
    <div style="page-break-after: always"></div>

    {% if saes is defined %}
        {% for sae in saes[semestre.id] %}
            {{ include('export_pdf/_sae.html.twig') }}
            <div style="page-break-after: always"></div>
        {% endfor %}
    {% endif %}

    {% for ressource in ressources[semestre.id] %}
        {{ include('export_pdf/_ressource.html.twig') }}
        <div style="page-break-after: always"></div>
    {% endfor %}
{% endfor %}

</body>
</html>
