{% extends 'base-speciale.html.twig' %}

{% block header %}Demande d'accès{% endblock %}

{% block content %}
    <div class="mb-5">
        <h2 class="cta-1 mb-0 text-primary">Demander un accès</h2>
    </div>

    <div class="alert alert-info">
        L'accès à ORéBUT est réservé aux intervenants dans les IUT de France. Si vous êtes un enseignant ou un personnel
        d'un IUT, vous pouvez demander un accès en remplissant le formulaire ci-dessous.
    </div>

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.civilite) }}

    {{ form_row(registrationForm.prenom) }}

    {{ form_row(registrationForm.nom) }}


    {#    <div class="mb-3 filled form-group tooltip-end-top form-floating"> #}
    {#        {{ form_widget(registrationForm.email) }} #}
    {#        {{ form_label(registrationForm.email) }} #}
    {#        {{ form_errors(registrationForm.email) }} #}
    {{ form_label(registrationForm.email) }}
    <div class="input-group mb-3">
        {{ form_widget(registrationForm.email) }}
        <span class="input-group-text">@</span>
        {{ form_widget(registrationForm.domaine) }}
{#        <input type="text" class="form-control" placeholder="Server" aria-label="Server">#}
    </div>
    {{ form_errors(registrationForm.email) }}
    {#    </div> #}
    {#    {{ form_row(registrationForm.departement) }} #}

    {{ form_row(registrationForm.plainPassword) }}


    <button class="btn btn-lg btn-primary mt-3" type="submit">Valider votre demande</button>
    <a href="{{ path('app_login') }}"> Se connecter</a>
    {{ form_end(registrationForm) }}
{% endblock %}
