{% extends 'base.html.twig' %}

{% block header %}Dashboard{% endblock %}

{% block content %}
    {% if is_granted('ROLE_IUT') %}
        <section class="scroll-section mb-2" id="export">
            <h2 class="small-title">Export Référentiel de formation B.U.T. {{ user_data.departement.sigle }}</h2>
            <div class="d-grid">
                <a href="{{ asset('pn/PN-BUT-'~user_data.departement.sigle~'.pdf') }}" target="_blank" class="btn
                btn-success
                btn-outline
                d-block">Récupérer la
                                                                                                     version
                                                                                       provisoire des
                                                                                  PN, validés
                                                                       par la CCN en attente de passage devant le CNESER.</a>
            </div>
        </section>
        {% for annee in user_data.annees %}
            <section class="scroll-section" id="buttonTags">
            <h2 class="small-title">B.U.T. {{ annee.ordre }}</h2>
            {% if user_data.departement.typeStructure == 'type3' or annee.ordre >= 2 %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-4 mb-5">
                    {% for parcours in user_data.departement.apcParcours %}
                        <div class="col">
                            <div class="card h-100 border-{{ parcours.couleur }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ parcours.libelle }}</h5>
                                    <p class="card-text">
                                    <ul>
                                        <li>
                                            <a href="{{ path('but_ressources_annee', {annee: annee.id, parcours: parcours.id}) }}">
                                                <span class="label">Ressources du parcours</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('but_sae_annee', {annee: annee.id, parcours: parcours.id}) }}">
                                                <span class="label">SAÉ du parcours</span>
                                            </a>
                                        </li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="card mb-5 border-primary">
                    <div class="card-body">
                        <ul>
                            <li>
                                <a href="{{ path('but_ressources_annee', {annee: annee.id}) }}">
                                    <span class="label">Ressources de l'année</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('but_sae_annee', {annee: annee.id}) }}">
                                    <span class="label">SAÉ de l'année</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                </section>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
