{% extends 'base.html.twig' %}

{% block header %}Dashboard{% endblock %}

{% block content %}
    <p>Bienvenue sur ORéBUT, Outil de Rédaction des B.U.T.</p>
    <div class="alert alert-info mb-3">
        <strong>Erreur 403 corrigée.</strong><br><br>
        Pour toutes questions, idées, bugs, demandes, typos, ... david.annebicque@univ-reims.fr. <br>
        Les fonctionnalités à venir annoncées : quelques tableaux non complétement dynamique pour le moment, modifier
        l'ordre des AC ou des compétences, modifier le nom court des compétences. Export excels. "désynchroniser"
        des fiches ressources ou SAE lorsqu'elles sont sur plusieurs parcours, modification des semaines dans le
        tableau, avoir des fiches SAE/Ressources "adaptation locale" et non publiées, ...<br>
        <strong>
            La base sera initialisé lundi matin sauf demande contraire (si vous avez déjà saisi des éléments).
            J'indiquerai ici l'évolution de l'interface.
        </strong>
    </div>

    {% for annee in user_data.annees %}
        <section class="scroll-section" id="buttonTags">
        <h2 class="small-title">B.U.T. {{ annee.ordre }}</h2>
        {% if user_data.departement.typeStructure == 'type3' or annee.ordre >= 2 %}
            <div class="card mb-5 border-primary">
                <div class="card-body">
                    <ul>
                        <li>
                            <a href="{{ path('but_ressources_annee', {annee: annee.id}) }}">
                                <span class="label">Toutes les ressources</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('but_sae_annee', {annee: annee.id}) }}">
                                <span class="label">Toutes les SAÉ</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-4 mb-5">
                {% for parcours in user_data.departement.apcParcours %}
                    <div class="col">
                        <div class="card h-100 border-{{ parcours.couleur }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ parcours.libelle }}</h5>
                                <p class="card-text">
                                <ul>
                                    <li>
                                        <a href="{{ path('but_ressources_annee', {annee: annee.id, parcours: parcours.id}) }}">
                                            <span class="label">Ressources du parcours</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('but_sae_annee', {annee: annee.id, parcours: parcours.id}) }}">
                                            <span class="label">SAÉ du parcours</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('tableau_croise_annee', {annee: annee.id, parcours: parcours.id}) }}">
                                            <span class="label">Tableau croisé par semestre</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('tableau_horaire_annee', {annee: annee.id,
                                            parcours: parcours.id}) }}">
                                            <span class="label">Volumes horaires par semestre</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('tableau_preconisations_annee', {annee: annee.id, parcours: parcours.id}) }}">
                                                            <span class="label">
                                                                Préconisations par semestre
                                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{{ path('tableau_validation_sae_ac_annee', {annee: annee.id,
                                            parcours: parcours.id}) }}">
                                            <span class="label">Validation des AC par les SAÉ</span>
                                        </a>
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="card mb-5 border-primary">
                <div class="card-body">
                    <ul>
                        <li>
                            <a href="{{ path('but_ressources_annee', {annee: annee.id}) }}">
                                <span class="label">Ressources de l'année</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('but_sae_annee', {annee: annee.id}) }}">
                                <span class="label">SAÉ de l'année</span>
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('tableau_croise_annee', {annee: annee.id}) }}">
                                <span class="label">Tableaux semestres</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('tableau_croise_annee', {annee: annee.id}) }}">
                                <span class="label">Tableau croisé par semestre</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('tableau_horaire_annee', {annee: annee.id}) }}">
                                <span class="label">Volumes horaires par semestre</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('tableau_preconisations_annee', {annee: annee.id}) }}">
                                                            <span class="label">
                                                                Préconisations par semestre
                                                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            </section>
        {% endif %}
    {% endfor %}

<section class="scroll-section" id="buttonTags">
    <h2 class="small-title">Documents du GT</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-4 mb-5">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Modèle fiche SAÉ</h5>
                    <p class="card-text">
                        <a href="{{ asset('documents_gt/fiche-SAE-juil2021.docx') }}" target="_blank" class="btn
                        btn-primary"><i class="bi bi-download"></i> Télécharger</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Modèle fiche Ressource</h5>
                    <p class="card-text">
                        <a href="{{ asset('documents_gt/fiche-ressource-juil2021.docx') }}" target="_blank" class="btn
                        btn-primary"><i class="bi bi-download"></i> Télécharger</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
