{% extends 'base.html.twig' %}

{% block title %}QapesCriteresEvaluation{% endblock %}

{% block content %}
    <h1>QapesCriteresEvaluation</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ qapes_criteres_evaluation.id }}</td>
        </tr>
        <tr>
            <th>Libelle</th>
            <td>{{ qapes_criteres_evaluation.libelle }}</td>
        </tr>
        <tr>
            <th>Libelle pour affichage des résultats</th>
            <td>{{ qapes_criteres_evaluation.libelleAffichage }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ qapes_criteres_evaluation.description }}</td>
        </tr>
        <tr>

        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_qapes_criteres_evaluation_index') }}">back to list</a>

    <a href="{{ path('app_qapes_criteres_evaluation_edit', {'id': qapes_criteres_evaluation.id}) }}">edit</a>

{% endblock %}
