<div class="row">
    <div class="col-md-6">
        <table class="table bg-white">
            <tr>
                <th>Parcours</th>
                <td>
                    {% for parcours in apc_sae.apcSaeParcours %}
                        <div class="d-flex mb-2">
                            <span class="badge badge-parcours-{{ parcours.parcours.couleur }} me-2">
                                {{ parcours.parcours.code }}
                            </span>
                            <div>{{ parcours.parcours.libelle }}</div>
                        </div>
                    {% else %}
                        <span class="badge bg-success">
                            Tous les parcours
                        </span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Code et Nom</th>
                <td>{{ apc_sae.codeMatiere }} | {{ apc_sae.libelle }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table bg-white">
            <tr>
                <th>Semestre</th>
                <td>{{ apc_sae.semestre != null ? apc_sae.semestre.libelle : '-' }}</td>
            </tr>
            <tr>
                <th>Code et Nom</th>
                <td>Défini localement</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 class="mt-5 mb-3">Compétences ciblées</h3>
        {% for competence in apc_sae.apcSaeCompetences %}
            <div class="d-flex mb-2">
                <span class="badge badge-{{ competence.competence.couleur }} me-2">&nbsp;</span>
                <div>{{ competence.competence.libelle }}</div>
            </div>
        {% endfor %}

        <h3 class="mt-5 mb-3">Apprentissages critiques</h3>
        {% for ac in apc_sae.apcSaeApprentissageCritiques %}
            <div class="d-flex mb-2">
                <span class="badge badge-{{ ac.apprentissageCritique.competence.couleur }} me-2">{{ ac.apprentissageCritique.code }}</span>
                <div>{{ ac.apprentissageCritique.libelle }}</div>
            </div>
        {% endfor %}

        <h3 class="mt-5 mb-3">Ressources mobilisées et combinées</h3>
        {% for ressource in ressources %}
            <div class="d-flex mb-2">
                <span class="badge bg-primary me-2">{{ ressource.ressource.codeMatiere }}</span>
                <div>{{ ressource.ressource.libelle }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <h3 class="mt-5">Objectifs et problématique professionnelle</h3>
        <p>{{ apc_sae.objectifs != null ? apc_sae.objectifs|markdown_to_html : '' }}</p>
        <h3 class="mt-5">Descriptif générique</h3>
        <p>{{ apc_sae.description != null ? apc_sae.description|markdown_to_html : '' }}</p>
    </div>
    <div class="col-md-12">
        <h3 class="mt-4">Exemple de mise en place de SAE</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>IUT</th>
                <th>Intitulé</th>
                <th>Voir</th>
            </tr>
            </thead>
            <tbody>
            {% for qapes in apc_sae.qapesSaes %}
                <tr>
                    <td>{{ qapes.iutSite != null ? qapes.iutSite.libelle : 'Erreur' }}</td>
                    <td>{{ qapes.intituleSae }}</td>
                    <td><a href="{{ path('app_qapes_sae_show', {id: qapes.id}) }}">Voir l'évaluation</a></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">Aucune évaluation</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


