<table class="table table-bordered">
    <tr>
        <th>Parcours</th>
        <th>Semestre</th>
    </tr>
    <tr>
        <td>
            {% for parcours in apc_sae.apcSaeParcours %}
                <span class="badge badge-parcours-{{ parcours.parcours.couleur }}">
                        {{ parcours.parcours.libelle }}</span>
            {% else %}
                <span class="badge bg-success">
                        Tous les parcours</span>
            {% endfor %}
        </td>
        <td>{{ apc_sae.semestre != null ? apc_sae.semestre.libelle : '-' }}</td>
    </tr>
    <tr>
        <th>Code et Nom</th>
        <th>Volume horaire</th>
    </tr>
    <tr>
        <td>{{ apc_sae.codeMatiere }} | {{ apc_sae.libelle }}</td>
        <td>Défini localement</td>
    </tr>
</table>

<h3>Compétences ciblées</h3>
<p>
    {% for competence in apc_sae.apcSaeCompetences %}
        <span class="badge badge-lg badge-{{ competence.competence.couleur }}">
                    {{ competence.competence.libelle }}
                </span>
    {% endfor %}
</p>

<h3>Objectifs et problématique professionnelle</h3>
<p>
    {{ apc_sae.objectifs != null ? apc_sae.objectifs|markdown_to_html : '' }}
</p>

<h3>Apprentissages critiques</h3>
<p>
    {% for ac in apc_sae.apcSaeApprentissageCritiques %}
        <span class="badge badge-{{ ac.apprentissageCritique.competence.couleur }}">
                    {{ ac.apprentissageCritique.code }} | {{ ac.apprentissageCritique.libelle }}
                </span>
    {% endfor %}
</p>

<h3>Ressources mobilisées et combinées</h3>
<p>
    {% for ressource in ressources %}
        <span class="badge bg-primary">
                    {{ ressource.ressource.display }}
                    </span>
    {% endfor %}
</p>


<h3>Descriptif générique</h3>
<p>
    {{ apc_sae.description != null ? apc_sae.description|markdown_to_html : '' }}
</p>

