<div class="row">
    <div class="col-sm-2">
        {{ form_row(form.codeMatiere) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.libelle) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(form.libelleCourt) }}
    </div>
{#    <div class="col-sm-4">#}
{#        {{ form_row(form.heuresTotales) }}#}
{#    </div>#}

    <div class="alert alert-light">
        <div class="row">
            <div class="col-3">
                {{ form_row(form.cmPpn) }}
            </div>
            <div class="col-3">
                {{ form_row(form.tdPpn) }}
            </div>
            <div class="col-3">
                {{ form_row(form.tpPpn) }}
            </div>
            <div class="col-3">
                {{ form_row(form.projetPpn) }}
            </div>
        </div>
    </div>
    {# todo: alpine ajouter vérification égalité heures totales - tp #}
    <div class="col-sm-12">
        {{ form_row(form.description) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.livrables) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.exemples) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.semestre) }}
        {{ form_row(form.competences) }}
        <fieldset class="form-group">
            <legend class="col-form-label required">
                Apprentissage(s) critique(s) couvert(s)
            </legend>
            <div id="acSae">
                <div class="alert alert-warning">Indiquer un semestre et au moins une compétence</div>
                <div class="row">
                    <template x-for="competence in competences">
                        <div>
                            <br>
                            <h4 x-text="competence.libelle"></h4>
                            <div class="row">
                                <template x-for="ac in getAcs(competence.id)">
                                    <div class="col-6">
                                        <input type="checkbox" name="ac" :value="ac.id" :checked="ac.checked">&nbsp;
                                        <span x-text="ac.code + ` | ` + ac.libelle"></span>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <small id="apc_sae_competences_help" class="form-text text-muted">Ajoutez les compétences couvertes par la
                                                                              SAÉ.</small>
        </fieldset>

        <fieldset class="form-group">
            <legend class="col-form-label required">
                Ressources combinées
            </legend>
            <div id="ressourcesSae">
                <div class="alert alert-warning">Indiquer un semestre</div>
                <div class="row">
                    <template x-for="ressource in ressources">
                        <div class="col-6">
                            <input type="checkbox" name="saes" :value="ressource.id" :checked="ressource.checked">&nbsp;
                            <span x-text="ressource.code + ` | ` + ressource.libelle"></span>
                        </div>
                    </template>
                </div>
            </div>
            <small id="apc_sae_ressource_help" class="form-text text-muted">Ajoutez les ressources couvertes par la SAÉ
                                                                            .</small>
        </fieldset>

        <fieldset class="form-group mb-5">
            <legend class="col-form-label required">
                Parcours de la spécialité
            </legend>
            <div id="ressourcesSae">
                <div class="alert alert-warning">Indiquer un semestre.</div>
                <div class="row">
                    <template x-for="parcour in parcours">
                        <div class="col-6">
                            <input type="checkbox" name="parcours" :value="parcour.id" :checked="parcour.checked">&nbsp;
                            <span x-text="parcour.code + ` | ` + parcour.libelle"></span>
                        </div>
                    </template>
                </div>
            </div>
            <small id="apc_sae_ressource_help" class="form-text text-muted">
                Si le semestre est composé de Parcours, il sera possible d'y associer une SAÉ commune (contenu
                strictement identique) à plusieurs parcours. Si le contenu diffère, même légèrement, il est
                préférable de dupliquer la SAÉ pour l'éditer librement selon le parcours.
            </small>
        </fieldset>
    </div>
</div>
