<div class="row">
    <div class="col-sm-2">
        {{ form_row(form.codeMatiere) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.ordre) }}
    </div>
    <div class="col-sm-5">
        {{ form_row(form.libelle) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.libelleCourt) }}
    </div>

    <div class="col-sm-12">
        {{ form_row(form.objectifs) }}
    </div>

    <div class="col-sm-12">
        {{ form_row(form.description) }}
    </div>


    <div class="col-sm-12">
        {{ form_row(form.semestre) }}

        <fieldset class="form-group">
            <legend class="col-form-label required">
                Compétences du semestre
            </legend>
            <div id="saeRessource">
                <template x-if="semestre == null">
                    <div class="alert alert-warning">
                        Veuillez choisir un semestre pour récupérer les compétences
                    </div>
                </template>
                <div class="row">
                    <template x-for="competence in listeCompetences">
                        <div class="col-6">
                            <input type="checkbox" x-model="competences"
                                   :value="competence.id"
                                   name="competences[]"
                                   @change="changeCompetence"
                                   :checked="competence.checked">&nbsp;
                            <span x-text="competence.libelle"></span>
                        </div>
                    </template>
                </div>
            </div>
            <small id="apc_sae_ressource_help" class="form-text text-muted">
                Ajoutez les Compétences concernées par la SAÉ pour obtenir les apprentissages critiques.
            </small>
        </fieldset>


        <fieldset class="form-group">
            <legend class="col-form-label required">
                Apprentissage(s) critique(s) couvert(s)
            </legend>
            <div id="acSae">
                <template x-if="semestre == null || acs.length == 0 || acs === false">
                    <div class="alert alert-warning">
                        Veuillez choisir  un semestre et au moins une compétence
                    </div>
                </template>
                <div class="row">
                    <template x-for="competence in competences">
                        <div>
                            <br>
                            <strong x-html="getLibelleCompetence(competence)"></strong>
                            <div class="row">
                                <template x-for="ac in getAcs(competence)">
                                    <div class="col-6">
                                        <input type="checkbox" name="ac[]" :value="ac.id" :checked="ac.checked">&nbsp;
                                        <span x-text="ac.code + ` | ` + ac.libelle"></span>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <small id="apc_sae_competences_help" class="form-text text-muted">Ajoutez les compétences couvertes par la
                                                                              SAÉ.</small>
        </fieldset>

        <fieldset class="form-group">
            <legend class="col-form-label required">
                Ressources combinées
            </legend>
            <div id="ressourcesSae">
                <template x-if="semestre == null">
                    <div class="alert alert-warning">
                        Veuillez choisir un semestre pour récupérer les ressources
                    </div>
                </template>

                <div class="row">
                    <template x-if="ressources === false || ressources.length === 0">
                        <div class="col-12">
                            <div class="alert alert-info">
                                Pas de ressources dans ce semestre. Les SAÉ pourront
                                être associées depuis les ressources ou plus tard en modifiant la
                                fiche.
                            </div>
                        </div>
                    </template>
                    <template x-for="ressource in ressources">
                        <div class="col-6">
                            <input type="checkbox" name="ressources[]" :value="ressource.id" :checked="ressource
                            .checked">&nbsp;
                            <span x-text="ressource.code + ` | ` + ressource.libelle"></span>
                        </div>
                    </template>
                </div>
            </div>
            <small id="apc_sae_ressource_help" class="form-text text-muted">
                Ajoutez les ressources couvertes par la SAÉ.
            </small>
        </fieldset>

        <fieldset class="form-group mb-5">
            <legend class="col-form-label required">
                Parcours de la spécialité
            </legend>
            <div id="ressourcesSae">
                <template x-if="semestre == null">
                    <div class="alert alert-warning">
                        Veuillez choisir un semestre.
                    </div>
                </template>
                <template x-if="parcours !== false">
                <div class="row">
                    <template x-for="parcour in parcours">
                        <div class="col-6">
                            <input type="checkbox" name="parcours[]" :value="parcour.id" :checked="parcour.checked">&nbsp;
                            <span x-text="parcour.libelle"></span>
                        </div>
                    </template>
                </div>
                </template>
                <template x-if="parcours === false">
                    <div class="alert alert-info">
                        Pas de parcours sur ce semestre.
                    </div>
                </template>
            </div>
            <small id="apc_sae_ressource_help" class="form-text text-muted">
                Si le semestre est composé de Parcours, il sera possible d'y associer une SAÉ commune (contenu
                strictement identique) à plusieurs parcours. Si le contenu diffère, même légèrement, il est
                préférable de dupliquer la SAÉ pour l'éditer librement selon le parcours.
            </small>
        </fieldset>
    </div>
</div>
