<div class="d-flex align-items-stretch mt-3">
    <div class="col-3 competence ">
        <div class="p-3 comp competence{{ competence.couleur }}">
            {{ competence.nomCourt }}
            {% if is_granted('ROLE_PACD') and user_data.departement.verouilleCompetences == false %}
                <a href="{{ path('administration_apc_competence_edit', {id: competence.id}) }}" class="text-white
                text-small"><i
                            class="bi
                bi-pencil"></i> Modifier</a>
            {% endif %}
        </div>
    </div>
    <div class="col-3 competencelongue  ms-3">
        <div class="p-3 competencelongue{{ competence.couleur }}">
            {{ competence.libelle }}
            {% if is_granted('ROLE_PACD') and user_data
            .departement.verouilleCompetences == false %}<br>
            <a href="{{ path('administration_apc_composante_essentielle_new',
                {competence:competence.id}) }}" class="text-white text-small">
                <i class="bi bi-plus"></i> Ajouter une composante essentielle
            </a>
            {% endif %}
        </div>
    </div>
    <div class="col-6 composantesessentielles{{ competence.couleur }}">
        <ul>
            {% for composante in competence.apcComposanteEssentielles %}
                <li>{{ composante.code }} | {{ composante.libelle }} {% if is_granted('ROLE_PACD') and user_data
                    .departement.verouilleCompetences == false %}
                        <a href="{{ path('administration_apc_composante_essentielle_edit',
                            {id:composante.id}) }}" class="text-black text-small">
                            <i class="bi bi-pencil"></i>
                        </a>
                    {% endif %}</li>
            {% endfor %}
        </ul>

    </div>
</div>

{# Situtations professionnelles #}
<div class="d-flex align-items-stretch mt-3">
    <div class="col-3">
        <div class="p-3 situationpro situation{{ competence.couleur }}">Situations professionnelles</div>
    </div>
    <div class="col-9 ms-3 situationliste">
        <div class="p-3 situationliste{{ competence.couleur }}">
            {% for situation in competence.apcSituationProfessionnelles %}
                <p>{{ situation.libelle }} {% if is_granted('ROLE_PACD') and user_data
                    .departement.verouilleCompetences == false %}
                        <a href="{{ path('administration_apc_situation_professionnelle_edit',
                            {id:situation.id}) }}" class="text-black text-small">
                            <i class="bi bi-pencil"></i>
                        </a>
                    {% endif %}</p>
            {% endfor %}
            {% if is_granted('ROLE_PACD') and user_data
            .departement.verouilleCompetences == false %}<br>
                <a href="{{ path('administration_apc_situation_professionnelle_new',
                    {competence:competence.id}) }}" class="text-black text-small">
                    <i class="bi bi-plus"></i> Ajouter une situation professionnelle
                </a>
            {% endif %}
        </div>
    </div>
</div>

{# Niveaux #}
<div class="d-flex align-items-stretch mt-3">
    <div class="col-3">
        <div class="p-3 titreniveau">Niveaux</div>
    </div>
    <div class="col-9 ms-3">
        <div class="p-3 titreac">Apprentissages critiques
        </div>
    </div>
</div>

{% for niveau in competence.apcNiveaux %}
    <div class="d-flex align-items-stretch mt-3">
        <div class="col-flex-3 niveau  niveau{{ niveau.ordre }}{{ competence.couleur }}">
            <div class="p-3 niveaucourt ">
                B.U.T. {{ niveau.annee.ordre }}</div>
            <div class="p-3 niveaulong">{{ niveau.libelle }}
            </div>
        </div>
        <div class="col-flex-9 ms-3" style="padding-right:15px;">
            <div class="p-3 niveauliste niveau{{ niveau.ordre }}{{ competence.couleur }}">
                <ul>
                    {% for ac in niveau.apcApprentissageCritiques %}
                        <li>{{ ac.code }} | {{ ac.libelle }}
                            {% if is_granted('ROLE_PACD') and user_data.departement.verouilleCompetences == false %}
                                <a href="{{ path('administration_apc_apprentissage_critique_edit',
                                    {id:ac.id}) }}" class="text-black text-small">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="{{ path('administration_apc_apprentissage_critique_deplace',
                                    {id:ac.id, position: -1}) }}" class="text-black text-small">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                                <a href="{{ path('administration_apc_apprentissage_critique_deplace',
                                    {id:ac.id, position:1}) }}" class="text-black text-small">
                                    <i class="bi bi-arrow-down"></i>
                                </a>

                            {% endif %}
                        </li>
                    {% endfor %}
                    {% if is_granted('ROLE_PACD') and user_data
                    .departement.verouilleCompetences == false %}<br>
                        <a href="{{ path('administration_apc_apprentissage_critique_new',
                            {niveau:niveau.id}) }}" class="text-black text-small">
                            <i class="bi bi-plus"></i> Ajouter un apprentissage critique
                        </a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}

