<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <style>
        {{ include('pdf/stylepdf.css.twig') }}
    </style>
    <title>PDF - Référentiel de compétences {{ departement.sigle }}</title>
</head>
<body>

<!--Conteneur principal -->
<div class="container-fluid" id="content">
    {% for parcour in parcours %}
        <h1 class="titre_specialite">Référentiel de compétences : {{ departement.sigle }}</h1>
        <h2 class="titre_parcours">Compétences du parcours : {{ parcour.libelle }}</h2>
        <div style="page-break-after: always"></div>
        {% for competence in competencesParcours[parcour.id] %}
            <div>
                {{ include('competences/_competence_pdf.html.twig') }}
            </div>
            <div style="page-break-after: always"></div>
        {% endfor %}
    {% endfor %}
</div><!-- fin conteneur principal-->

</body>
</html>

