{% extends 'base.html.twig' %}

{% block header %}
    Référentiel de compétences de : {{ departement.sigle }}
{% endblock %}

{% block content %}
    <div class="alert alert-info mb-3">
        Le référentiel de compétences sera publié dans la même version que l'année dernière.
    </div>
    <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs" id="lineTitleTabsContainer" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#complet" role="tab" aria-selected="true">Référentiel
                                                                                                            de
                                                                                                            compétences
                                                                                                            complet</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#parcours" role="tab" aria-selected="false">Référentiel par
                                                                                                       parcours</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#annee" role="tab" aria-selected="false">Référentiel par
                                                                                                    année</a>
        </li>
    </ul>
    <div class="tab-content mt-3">
        <div class="tab-pane active" id="complet" role="tabpanel">
            <section>
                <h2 class="small-title">Parcours de la spécialité {{ departement.sigle }}
                </h2>
                <div class="card mb-3">
                    <div class="card-body">
                        <ul class="nav nav-pills responsive-tabs nav-justified mb-4" role="tablist">
                            {% for parcour in parcours %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if loop.first %}active{% endif %} "
                                            data-bs-toggle="tab"
                                            data-bs-target="#parcour_comp_{{ parcour.id }}" role="tab" aria-selected="false"
                                            type="button">{{ parcour.libelle }}</button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


                <div class="tab-content">
                    {% for parcour in parcours %}
                        <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="parcour_comp_{{ parcour.id }}">
                            <section>
                                <h2 class="small-title">Compétences du parcours : {{ parcour.libelle }}</h2>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <ul class="nav nav-pills responsive-tabs nav-justified" role="tablist">
                                            {% for competence in competencesParcours[parcour.id] %}
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link {% if loop.first %}active{% endif %}"
                                                            data-bs-toggle="tab"
                                                            data-bs-target="#competence_{{ competence.id }}_{{ parcour.id }}"
                                                            role="tab" aria-selected="false" type="button">{{ competence.nomCourt }}</button>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <div class="tab-content">
                                            {% for competence in competencesParcours[parcour.id] %}
                                                <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="competence_{{ competence.id }}_{{ parcour.id }}">
                                                    {{ include('competences/_competence.html.twig') }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    {% endfor %}
                </div>

            </section>
        </div>


        <div class="tab-pane" id="parcours" role="tabpanel">
            <section>
                <h2 class="small-title">Parcours de la spécialité {{ departement.sigle }}
                </h2>
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills responsive-tabs nav-justified" role="tablist">
                            {% for parcour in parcours %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#parcour_{{ parcour.id }}" role="tab" aria-selected="false" type="button">{{ parcour.libelle }}</button>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="tab-content">
                            {% for parcour in parcours %}
                                <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="parcour_{{ parcour.id }}">
                                    {{ include('competences/_parcour.html.twig', {parcour: parcour}) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="tab-pane " id="annee" role="tabpanel">
            <section>
                <h2 class="small-title">Référentiel par année pour la spécialité {{ departement.sigle }}
                </h2>
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-pills responsive-tabs nav-justified" role="tablist">
                            {% for annee in 1..3 %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#annee_{{ annee }}" role="tab" aria-selected="false" type="button">
                                        Année {{ annee }}</button>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="tab-content">
                            {% for annee in 1..3 %}
                                <div class="tab-pane {% if loop.first %}fade active show{% endif %}" id="annee_{{ annee }}">
                                    {{ include('competences/_annee.html.twig', {annee:annee}) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

