<div style="overflow-x: auto">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="3">&nbsp;</th>
            {% for semestre in semestres %}
                <th colspan="{{ tSaeSemestre[semestre.ordreLmd]|length }}">Semestre {{ semestre.ordreLmd }}</th>
                <th>&nbsp;</th>
            {% endfor %}
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th colspan="">Compétences</th>
            <th>AC</th>
            <th>&nbsp;</th>
            {% set taille = 0 %}
            {% for semestre in semestres %}
                {% for sae in tSaeSemestre[semestre.ordreLmd] %}
                    {% set taille = taille + 1 %}
                    <th>
                        <p data-bs-toggle="tooltip" title="{{ sae.libelle }}">{{ sae.codeMatiere }}</p>
                    </th>
                {% endfor %}
                <th>&nbsp;</th>
            {% endfor %}
            <th>Validation</th>
        </tr>
        </thead>
        <tbody>

        {% for niveau in niveaux %}
            <tr>
                <th rowspan="{{ niveau.apcApprentissageCritiques|length + 1 }}" class="bg_{{ niveau.competence
                .couleur }}">
                    {{ niveau.competence.nomCourt }}
                </th>
            </tr>

            {% for ac in niveau.apcApprentissageCritiques %}
                <tr>
                    <th class="bg_{{ niveau.competence.couleur }}">
                        <p data-bs-toggle="tooltip" title="{{ ac.libelle }}">{{ ac.code }}</p>
                    </th>
                    <th>&nbsp;</th>
                    {% for semestre in semestres %}
                        {% for sae in tSaeSemestre[semestre.ordreLmd] %}
                            <td class="text-center">
                                {% if is_granted('ROLE_LECTEUR') or user_data.departement.pnBloque == true %}
                                    {% if tab.saes[sae.id] is defined and tab.saes[sae.id][ac.id] is defined %}X{% endif %}
                                {% else %}
                                    <input type="checkbox"
                                           data-sae="{{ sae.id }}"
                                           data-ac="{{ ac.id }}"
                                           class="changeAcSae"
                                           {% if tab.saes[sae.id] is defined and tab.saes[sae.id][ac.id] is defined %}checked{% endif %} />
                                {% endif %}
                            </td>
                        {% endfor %}
                        <th>&nbsp;</th>
                    {% endfor %}
                    <th>
                        {% if tab.acs[ac.id] is defined %}
                            <span class="badge bg-success">OK</span>
                        {% else %}
                            <span class="badge bg-danger">NON OK</span>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="{{ 6 + taille }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
