<div style="overflow-x: auto">
    <table class="table table-bordered">
        <tr>
            <td rowspan="2" class="text-center cell-jaune-pale" colspan="2">Pôles</td>
            <td colspan="{{ saes|length }}" class="text-center cell-jaune-pale">SAÉ</td>
            <td colspan="{{ ressources|length }}" class="text-center cell-jaune-pale">Ressources</td>
            <td rowspan="2" class="cell-bleu">Total</td>
            <td rowspan="2" class="cell-bleu">
                pourcentage du volume total d'enseignement
            </td>
            <td rowspan="2">&nbsp;</td>
            <td rowspan="2">&nbsp;</td>
        </tr>
        <tr>
            {% for sae in saes %}
                <td class="cell-jaune">
                    <p data-bs-toggle="tooltip" title="{{ sae.libelle }}">
                        {{ sae.codeMatiere }}
                    </p>
                </td>
            {% endfor %}
            {% for ressource in ressources %}
                <td class="cell-bleu">
                    <p data-bs-toggle="tooltip" title="{{ ressource.libelle }}">
                    {{ ressource.codeMatiere }}
                    </p>
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td class="text-center cell-jaune-pale" colspan="2">Volume horaire des enseignements définis nationalement
            </td>
            <td colspan="{{ saes|length }}" rowspan="2" class="cell-jaune ">&nbsp;</td>
            {% for ressource in ressources %}
                <td class="text-rouge text-center">
                    {% if is_granted('ROLE_LECTEUR') %}
                        <span x-html="getVolumeTotalRessource({{ semestre.ordreLmd }}, {{ ressource.id }})"></span>
                    {% else %}
                        <input type="text" class="heures form-control"
                               data-type="heures_totales"
                               data-ressource="{{ ressource.id }}"
                               style="min-width: 50px"
                               :value="getVolumeTotalRessource({{ semestre.ordreLmd }}, {{ ressource.id }})"
                               @blur="updateHeuresRessource"
                        />
                    {% endif %}
                </td>
            {% endfor %}
            <td class="text-rouge text-center fw-bold">
                <span x-text="donnees[{{ semestre.ordreLmd }}].totalEnseignementRessources"></span>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-center cell-jaune-pale" colspan="2">Dont TP</td>
            {% for ressource in ressources %}
                <td class="text-rouge text-center">
                    {% if is_granted('ROLE_LECTEUR') %}
                        <span x-html="getVolumeDontTpRessource({{ semestre.ordreLmd }}, {{ ressource.id }})"></span>
                    {% else %}
                        <input type="text" class="heures form-control"
                               data-type="heures_tp"
                               data-ressource="{{ ressource.id }}"
                               style="min-width: 50px"
                               :value="getVolumeDontTpRessource({{ semestre.ordreLmd }}, {{ ressource.id }})"
                               @blur="updateHeuresRessource"
                        />
                    {% endif %}
                </td>
            {% endfor %}
            <td class="text-rouge fw-bold text-center">
                <span x-text="donnees[{{ semestre.ordreLmd }}].totalDontTpRessources"></span>
            </td>
            <td class="text-rouge text-center fw-bold">
                <span x-text="numberFormat(donnees[{{ semestre.ordreLmd }}].pourcentageTpNational)"></span>
                %
            </td>
            <td colspan="2" class="cell-jaune text-rouge">← pourcentage de TP défini nationalement</td>
        </tr>
        <tr>
            <td rowspan="2" colspan="2" class="text-center cell-jaune text-rouge fw-bold">
                Volume horaire des enseignements définis par l'adaptation locale
            </td>
            <td colspan="{{ saes|length }}" class="text-center cell-jaune text-rouge fw-bold">
                {% if is_granted('ROLE_LECTEUR') or user_data.departement.verouilleStructure == 1 %}
                    <span x-html="donnees[{{ semestre.ordreLmd }}].vhNbHeuresEnseignementSae"></span>
                {% else %}
                    <input type="text" class="heures form-control"
                           data-field="vhNbHeuresEnseignementSae"
                           data-semestre="{{ semestre.id }}"
                           style="min-width: 50px"
                           x-model.debounce="donnees[{{ semestre.ordreLmd }}].vhNbHeuresEnseignementSae"
                           @blur="updateSemestre"
                    />
                {% endif %}
            </td>
            <td colspan="{{ ressources|length }}" class="text-center cell-jaune text-rouge fw-bold">&nbsp;</td>
            <td rowspan="2" class="text-center cell-jaune text-rouge fw-bold">
                <span x-text="donnees[{{ semestre.ordreLmd }}].totalAdaptationLocaleEnseignement"></span>
            </td>
            <td class="text-center cell-jaune text-rouge fw-bold">
                <span x-text="numberFormat(donnees[{{ semestre.ordreLmd }}].pourcentageAdaptationLocaleCalcule)
"></span>
                %
            </td>
            <td colspan="2" class="cell-jaune text-rouge">← Pourcentage d'adaptation locale (calculé)
            </td>
        </tr>
        <tr>
            <td colspan="{{ saes|length + ressources|length }}" class="text-center cell-jaune text-rouge fw-bold">
                {% if is_granted('ROLE_LECTEUR')  or user_data.departement.verouilleStructure == 1 %}
                    <span x-html="donnees[{{ semestre.ordreLmd }}].vhNbHeureeEnseignementSaeRessource"></span>
                {% else %}
                    <input type="text" class="heures form-control"
                           data-field="vhNbHeureeEnseignementSaeRessource"
                           data-semestre="{{ semestre.id }}"
                           style="min-width: 50px"
                           x-model.debounce="donnees[{{ semestre.ordreLmd }}].vhNbHeureeEnseignementSaeRessource"
                           @blur="updateSemestre"
                    />
                {% endif %}
            </td>
            <td colspan="2" class="text-end cell-jaune">rappel tableau global 6 semestres →</td>
            <td class="text-center cell-jaune">
                {{ semestre.pourcentageAdaptationLocale }} %
            </td>
        </tr>

        <tr>
            <td colspan="2" class="text-center cell-jaune text-rouge fw-bold">Dont TP</td>
            <td colspan="{{ saes|length + ressources|length }}" class="text-center cell-jaune text-rouge fw-bold">
                {% if is_granted('ROLE_LECTEUR') or user_data.departement.verouilleStructure == 1 %}
                    <span x-html="donnees[{{ semestre.ordreLmd }}].vhNbHeuresDontTpSaeRessource"></span>
                {% else %}
                    <input type="text" class="heures form-control"
                           data-field="vhNbHeuresDontTpSaeRessource"
                           data-semestre="{{ semestre.id }}"
                           style="min-width: 50px"
                           x-model.debounce="donnees[{{ semestre.ordreLmd }}].vhNbHeuresDontTpSaeRessource"
                           @blur="updateSemestre"
                    />
                {% endif %}
            </td>
            <td class="text-center cell-jaune text-rouge fw-bold">
                <span x-text="donnees[{{ semestre.ordreLmd }}].totalAdaptationLocaleDontTp"></span>
            </td>
            <td class="text-center cell-jaune text-rouge fw-bold">
                <span x-text="numberFormat(donnees[{{ semestre.ordreLmd }}].pourcentageTpLocalement)"></span>
                %
            </td>
            <td colspan="2" class="cell-jaune text-rouge">← pourcentage de TP défini localement</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
            <td colspan="{{ saes|length + ressources|length }}" class="text-end cell-vert">
                Volume horaire total des enseignements (calculé)
            </td>
            <td class="cell-vert text-rouge fw-bold text-center">
                <span x-text="donnees[{{ semestre.ordreLmd }}].totalEnseignements"></span>
            </td>
            <td class="cell-jaune-pale fw-bold text-center">
                {{ semestre.nbHeuresRessourceSae }}
            </td>
            <td colspan="2" class="cell-jaune-pale">← rappel volume total d'enseignement issu du tableau global des 6
                                                    semestres
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
            <td colspan="{{ saes|length + ressources|length }}" class="text-end cell-vert">
                Dont TP
            </td>
            <td class="cell-vert text-rouge fw-bold text-center">
                <span x-text="donnees[{{ semestre.ordreLmd }}].totalDontTp"></span>
            </td>
            <td class="cell-jaune text-rouge fw-bold text-center">
                <span x-text="numberFormat(donnees[{{ semestre.ordreLmd }}]
                .pourcentageTpLocalementNationalement)"></span> %<br>
                <strong>Cible : <span x-text="donnees[{{ semestre.ordreLmd }}]
                .cibleNbHeureTpTotal"></span></strong></td>
            <td colspan="2" class="cell-jaune text-rouge fw-bold">
                ← pourcentage de tp défini localement et nationalement
            </td>
        </tr>
        <tr>
            <td class="text-center cell-gris fw-bold" colspan="2">Volume horaire projet tutoré</td>
            <td colspan="{{ saes|length }}" class="cell-gris texte-rouge fw-bold text-center">
                {% if is_granted('ROLE_LECTEUR') or user_data.departement.verouilleStructure == 1 %}
                    <span x-html="donnees[{{ semestre.ordreLmd }}].vhNbHeuresProjetTutores"></span>
                {% else %}
                    <input type="text" class="heures form-control"
                           data-field="vhNbHeuresProjetTutores"
                           data-semestre="{{ semestre.id }}"
                           style="min-width: 50px"
                           x-model.debounce="donnees[{{ semestre.ordreLmd }}].vhNbHeuresProjetTutores"
                           @blur="updateSemestre"
                    />
                {% endif %}
            </td>
            <td colspan="{{ ressources|length }}" class="cell-gris texte-rouge fw-bold">
                &nbsp;
            </td>
            <td class="cell-gris texte-rouge text-center fw-bold">
                <span x-text="donnees[{{ semestre.ordreLmd }}].totalProjetTutore"></span>
            </td>
            <td class="cell-jaune fw-bold text-center">
                {{ semestre.nbHeuresProjet }}
            </td>
            <td colspan="2" class="cell-jaune text-center">← rappel volume de projet tutoré issu du tableau global
                                                           des 6 semestres
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
            <td colspan="{{ saes|length + ressources|length }}" class="text-end cell-vert">
                Volume horaire total des enseignements avec projet tutoré
            </td>
            <td class="cell-vert texte-rouge fw-bold text-center">
                <span x-text="donnees[{{ semestre.ordreLmd }}].totalEnseignementProjetTutore"></span>
            </td>
            <td class="cell-jaune fw-bold text-center">{{ semestre.nbHeuresRessourceSae+semestre.nbHeuresProjet }}</td>
            <td colspan="2" class="cell-jaune text-center">← rappel volume total enseignement + projet tutoré issu du
                                                           tableau global 6 semestres
            </td>
        </tr>
    </table>
</div>
