<div style="overflow-x: auto">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Compétences</th>
            <th>AC</th>
            <th>&nbsp;</th>
            {% for sae in saes %}
                <th>
                    <p data-bs-toggle="tooltip" title="{{ sae.libelle }}">{{ sae.codeMatiere }}</p><br>
                    {% if not is_granted('ROLE_LECTEUR') and user_data.departement.verouilleCroise == false %}
                        <a class="btn btn-secondary"
                           title="Déplacer vers la gauche la SAÉ"
                           {% if sae.ordre == 1 %}disabled{% endif %}
                           style="padding:0 8px; font-size:0.7em"
                           href="{{ path('formation_apc_sae_deplace', {id: sae.id, position: -1}) }}"><<
                        </a>
                        <a
                           class="btn btn-secondary"
                           style="padding:0 8px; font-size:0.7em"
                           title="Déplacer vers la droite la SAÉ"
                           {% if sae.ordre == saes|length %}disabled{% endif %}
                           href="{{ path('formation_apc_sae_deplace', {id: sae.id, position: 1}) }}">
                            >>
                        </a>
                    {% endif %}
                </th>
            {% endfor %}

            {% for sae in saesAl %}
                <th class="bg-warning text-white adaptationLocale d-none">
                    <p data-bs-toggle="tooltip" title="{{ sae.libelle }}">{{ sae.codeMatiere }}</p><br>
                    {% if not is_granted('ROLE_LECTEUR') and user_data.departement.verouilleCroise == false %}
                        <a class="btn btn-secondary"
                           title="Déplacer vers la gauche la SAÉ"
                           {% if sae.ordre == 1 %}disabled{% endif %}
                           style="padding:0 8px; font-size:0.7em"
                           href="{{ path('formation_apc_sae_deplace', {id: sae.id, position: -1}) }}"><<
                        </a>
                        <a
                           class="btn btn-secondary"
                           style="padding:0 8px; font-size:0.7em"
                           title="Déplacer vers la droite la SAÉ"
                           {% if sae.ordre == saes|length %}disabled{% endif %}
                           href="{{ path('formation_apc_sae_deplace', {id: sae.id, position: 1}) }}">
                            >>
                        </a>
                    {% endif %}
                </th>
            {% endfor %}
            <th>
                {% if not is_granted('ROLE_LECTEUR') and user_data.departement.verouilleCroise == false %}
                    <a class="btn btn-secondary"
                       style="padding:0 8px; font-size:0.7em"
                       title="Ajouter une SAÉ au semestre"
                       href="{{ path('formation_apc_sae_new', {semestre:semestre.id}) }}"
                    >+</a>
                {% endif %}
            </th>
            {% for ressource in ressources %}
                <th>
                    <p data-bs-toggle="tooltip" title="{{ ressource.libelle }}">{{ ressource.codeMatiere }}</p><br>
                    {% if not is_granted('ROLE_LECTEUR') and user_data.departement.verouilleCroise == false %}
                        <a class="btn btn-secondary" style="padding:0 8px; font-size:0.7em"
                           {% if ressource.ordre == 1 %}disabled{% endif %}
                           title="Déplacer vers la gauche la ressource"
                           href="{{ path('formation_apc_ressource_deplace', {id: ressource.id, position: -1}) }}">
                            <<
                        </a>
                        <a class="btn btn-secondary" style="padding:0 8px; font-size:0.7em"
                           {% if ressource.ordre == ressources|length %}disabled{% endif %}
                           title="Déplacer vers la droite la ressource"
                           href="{{ path('formation_apc_ressource_deplace', {id: ressource.id, position: 1}) }}">
                            >>
                        </a>
                    {% endif %}
                </th>
            {% endfor %}
            {% for ressource in ressourcesAl %}
                <th class="bg-warning text-white adaptationLocale d-none">
                    <p data-bs-toggle="tooltip" title="{{ ressource.libelle }}">{{ ressource.codeMatiere }}</p><br>
                    {% if not is_granted('ROLE_LECTEUR') and user_data.departement.verouilleCroise == false %}
                        <a class="btn btn-secondary" style="padding:0 8px; font-size:0.7em"
                           {% if ressource.ordre == 1 %}disabled{% endif %}
                           title="Déplacer vers la gauche la ressource"
                           href="{{ path('formation_apc_ressource_deplace', {id: ressource.id, position: -1}) }}">
                            <<
                        </a>
                        <a class="btn btn-secondary" style="padding:0 8px; font-size:0.7em"
                           {% if ressource.ordre == ressources|length %}disabled{% endif %}
                           title="Déplacer vers la droite la ressource"
                           href="{{ path('formation_apc_ressource_deplace', {id: ressource.id, position: 1}) }}">
                            >>
                        </a>
                    {% endif %}
                </th>
            {% endfor %}
            <th>
                {% if not is_granted('ROLE_LECTEUR') and user_data.departement.verouilleCroise == false %}
                    <a class="btn btn-secondary"
                       style="padding:0 8px; font-size:0.7em"
                       title="Ajouter une ressource au semestre"
                       href="{{ path('formation_apc_ressource_new', {semestre:semestre.id}) }}"
                    >+</a>
                {% endif %}
            </th>
        </tr>
        </thead>
        <tbody>

        {% for niveau in niveaux %}
            <tr>
                <th rowspan="{{ niveau.apcApprentissageCritiques|length + 2 }}" class="bg_{{ niveau.competence
                .couleur }}">
                    {{ niveau.competence.nomCourt }}
                </th>
            </tr>

            {% for ac in niveau.apcApprentissageCritiques %}
                <tr>
                    <th class="bg_{{ niveau.competence.couleur }}">
                        <p data-bs-toggle="tooltip" title="{{ ac.libelle }}">{{ ac.code }}</p>
                    </th>
                    <th>&nbsp;</th>
                    {% for sae in saes %}
                        <td class="text-center">
                            {% if is_granted('ROLE_LECTEUR') %}
                                {% if tab.saes[sae.id] is defined and tab.saes[sae.id][ac.id] is defined %}X{% endif %}
                            {% else %}
                                <input type="checkbox"
                                       {% if user_data.departement.verouilleCroise == true %}disabled{% endif %}
                                       data-sae="{{ sae.id }}"
                                       data-ac="{{ ac.id }}"
                                       class="changeAcSae"
                                       {% if tab.saes[sae.id] is defined and tab.saes[sae.id][ac.id] is defined %}checked{% endif %} />
                            {% endif %}
                        </td>
                    {% endfor %}
                    {% for sae in saesAl %}
                        <td class="text-center bg-warning text-white adaptationLocale d-none">
                            {% if is_granted('ROLE_LECTEUR') %}
                                {% if tab.saesAl[sae.id] is defined and tab.saesAl[sae.id][ac.id] is defined %}X{% endif %}
                            {% else %}
                                <input type="checkbox"
                                       {% if user_data.departement.verouilleCroise == true %}disabled{% endif %}
                                       data-sae="{{ sae.id }}"
                                       data-ac="{{ ac.id }}"
                                       class="changeAcSae"
                                       {% if tab.saesAl[sae.id] is defined and tab.saesAl[sae.id][ac.id] is defined %}checked{% endif %} />
                            {% endif %}
                        </td>
                    {% endfor %}
                    <th>&nbsp;</th>
                    {% for ressource in ressources %}
                        <td class="text-center">
                            {% if is_granted('ROLE_LECTEUR') %}
                                {% if tab.ressources[ressource.id] is defined and tab.ressources[ressource.id][ac.id] is
                                    defined %}X{% endif %}
                            {% else %}
                                <input type="checkbox"
                                       {% if user_data.departement.verouilleCroise == true %}disabled{% endif %}
                                       data-ressource="{{ ressource.id }}"
                                       data-ac="{{ ac.id }}"
                                       {% if is_granted('ROLE_LECTEUR') %}disabled{% endif %}
                                       class="changeAcRessource"
                                        {% if tab.ressources[ressource.id] is defined and tab.ressources[ressource.id][ac.id] is defined %}checked{% endif %} />
                            {% endif %}
                        </td>
                    {% endfor %}
                    {% for ressource in ressourcesAl %}
                        <td class="text-center bg-warning text-white adaptationLocale d-none">
                            {% if is_granted('ROLE_LECTEUR') %}
                                {% if tab.ressourcesAl[ressource.id] is defined and tab.ressourcesAl[ressource.id][ac.id] is
                                    defined %}X{% endif %}
                            {% else %}
                                <input type="checkbox"
                                       {% if user_data.departement.verouilleCroise == true %}disabled{% endif %}
                                       data-ressource="{{ ressource.id }}"
                                       data-ac="{{ ac.id }}"
                                       {% if is_granted('ROLE_LECTEUR') %}disabled{% endif %}
                                       class="changeAcRessource"
                                        {% if tab.ressourcesAl[ressource.id] is defined and tab.ressourcesAl[ressource.id][ac.id] is defined %}checked{% endif %} />
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <th>Coeff.</th>
                <th>&nbsp;</th>
                {% for sae in saes %}
                    <td class="text-center">
                        {% if is_granted('ROLE_LECTEUR') %}
                            {% if coefficients[niveau.competence.id] is defined and coefficients[niveau.competence.id].saes[sae.id] is defined %}
                                {{ coefficients[niveau.competence.id].saes[sae.id] }}
                            {% endif %}
                        {% else %}
                            <input type="text" class="form-control changeCoeffSae"
                                   style="min-width: 50px"
                                   {% if user_data.departement.verouilleCroise == true %}disabled{% endif %}
                                   data-sae="{{ sae.id }}"
                                   data-competence="{{ niveau.competence.id }}"
                                    {% if coefficients[niveau.competence.id] is defined and coefficients[niveau.competence
                                    .id].saes[sae.id] is defined %}
                                        value="{{ coefficients[niveau.competence.id].saes[sae.id] }}"
                                    {% endif %}
                            />
                        {% endif %}
                    </td>
                {% endfor %}
                {% for sae in saesAl %}
                    <td class="text-center bg-warning text-white adaptationLocale d-none">
                        {% if is_granted('ROLE_LECTEUR') %}
                            {% if coefficients[niveau.competence.id] is defined and coefficients[niveau.competence.id].saesAl[sae.id] is defined %}
                                {{ coefficients[niveau.competence.id].saesAl[sae.id] }}
                            {% endif %}
                        {% else %}
                            <input type="text" class="form-control changeCoeffSae"
                                   style="min-width: 50px"
                                   {% if user_data.departement.verouilleCroise == true %}disabled{% endif %}
                                   data-sae="{{ sae.id }}"
                                   data-competence="{{ niveau.competence.id }}"
                                    {% if coefficients[niveau.competence.id] is defined and coefficients[niveau.competence
                                    .id].saesAl[sae.id] is defined %}
                                        value="{{ coefficients[niveau.competence.id].saesAl[sae.id] }}"
                                    {% endif %}
                            />
                        {% endif %}
                    </td>
                {% endfor %}
                <th>&nbsp;</th>
                {% for ressource in ressources %}
                    <td class="text-center">
                        {% if is_granted('ROLE_LECTEUR') %}
                            {% if coefficients[niveau.competence.id] is defined and coefficients[niveau.competence
                            .id].ressources[ressource.id] is defined %}
                                {{ coefficients[niveau.competence.id].ressources[ressource.id] }}
                            {% endif %}
                        {% else %}
                            <input type="text"
                                   style="min-width: 50px"
                                   {% if user_data.departement.verouilleCroise == true %}disabled{% endif %}
                                   data-ressource="{{ ressource.id }}"
                                   data-competence="{{ niveau.competence.id }}"
                                   class="form-control changeCoeffRessource"
                                    {% if coefficients[niveau.competence.id] is defined and coefficients[niveau.competence
                                    .id].ressources[ressource.id] is defined %}
                                        value="{{ coefficients[niveau.competence.id].ressources[ressource.id] }}"
                                    {% endif %}
                            />
                        {% endif %}
                    </td>
                {% endfor %}
                {% for ressource in ressourcesAl %}
                    <td class="text-center bg-warning text-white adaptationLocale d-none">
                        {% if is_granted('ROLE_LECTEUR') %}
                            {% if coefficients[niveau.competence.id] is defined and coefficients[niveau.competence
                            .id].ressourcesAl[ressource.id] is defined %}
                                {{ coefficients[niveau.competence.id].ressourcesAl[ressource.id] }}
                            {% endif %}
                        {% else %}
                            <input type="text"
                                   style="min-width: 50px"
                                   {% if user_data.departement.verouilleCroise == true %}disabled{% endif %}
                                   data-ressource="{{ ressource.id }}"
                                   data-competence="{{ niveau.competence.id }}"
                                   class="form-control changeCoeffRessource"
                                    {% if coefficients[niveau.competence.id] is defined and coefficients[niveau.competence
                                    .id].ressourcesAl[ressource.id] is defined %}
                                        value="{{ coefficients[niveau.competence.id].ressourcesAl[ressource.id] }}"
                                    {% endif %}
                            />
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="{{ 6 + ressources|length + saes|length }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
