{% extends 'base.html.twig' %}

{% block header %}
    Tableau Volume horaires pour le B.U.T. {{ annee.ordre }} {% if parcours != null %} | {{ parcours.libelle }}{%
    endif %}
{% endblock %}

{% block content %}
    <div class="alert alert-info mb-3">
        Ce tableau sauvegarde automatiquement vos modifications. les fiches ressources et SAÉ sont mises à jour en
        conséquence (volumes horaires, apprentissages critiques)
    </div>
    <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs" id="lineTitleTabsContainer" role="tablist">
        {% for semestre in semestres %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab" href="#semestre_{{ semestre.id }}" role="tab"
                   aria-selected="true">{{ semestre.libelle }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content" x-data="getUpdateVolumesHoraires({{ parcours != null ? parcours.id : null }})">
        {% for semestre in semestres %}
        <div class="tab-pane {% if loop.first %}active{% endif %}" id="semestre_{{ semestre.id }}" role="tabpanel">
            <div class="card">
                <div class="card-body">
                    {{ render(controller(
                        'App\\Controller\\TableauController::tableauHoraire',
                        { 'semestre': semestre.id, parcours: parcours != null ? parcours.id : null }
                    )) }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{# todo: bouton export, refresh du tableau, possibilité ed masquer des données (menu en modal?), affichage code
et/ou libellé. #}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
