{% extends 'base.html.twig' %}

{% block content %}
    <div class="alert alert-info mb-3">
        Les lignes colorées, sont les lignes qui seront publiées.
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th class="w-20">Semestres</th>
                    {% for i in 1..6 %}
                        <th class="w-10 text-center">S{{ i }}</th>
                    {% endfor %}
                    <th class="text-center">TOTAL</th>
                    <th class="text-center">VALEURS<br> CIBLES</th>
                    <th class="text-center">ECARTS</th>
                </tr>
                </thead>
                <tbody x-data="getUpdateStructure()" x-init="donnees = await (await fetch(Routing.generate
                ('tableau_api_structure'))).json()">
                <tr class="lignepubliee">
                    <th>Nbre d'heures d'enseignement (ressources + SAé)</th>
                    {% for i in 1..6 %}
                        <td><input type="text" class="heures form-control"
                                   data-field="nbHeuresRessourcesSae"
                                   data-semestre="{{ i }}"
                                   x-model.number="donnees[{{ i }}].nbHeuresRessourcesSae"
                                   @keyup.debounce="update"
                            /></td>
                    {% endfor %}
                    <td class="text-center" x-html="badgeSeuilInferieur(donnees.departement.nbHeuresRessourcesSae, {{ constant
                        ('NB_HEURES_TOTAL', user_data.caracteristiques) }})">
                    </td>
                    <td class="text-center fw-bold">{{ constant('NB_HEURES_TOTAL', user_data.caracteristiques) }}</td>
                    <td class="text-center" x-html="badgeSeuil(donnees.departement.ecart, 0)">


                    </td>

                </tr>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr class="lignepubliee">
                    <th>Dont % d'adaptation locale<br>
                        <p class="text-small">max 667 h (secondaire) 600h (tertaire) sur 3 ans<br>
                                              max 40% du volume d'enseignement</p></th>
                    {% for i in 1..6 %}
                        <td>
                            <div class="input-group mb-3">
                                <input type="text" class="adaptationLocale form-control"
                                       x-model.number="donnees[{{ i }}].pourcentageAdaptationLocale"
                                       @keyup.debounce="update"
                                       data-field="pourcentageAdaptationLocale"
                                       data-semestre="{{ i }}"

                                />
                                <span class="input-group-text" id="pourcentage{{ i }}">%</span>
                            </div>
                        </td>
                    {% endfor %}
                    <td class="text-center" x-html="badgeSeuilInferieur(donnees.departement.totalPourcentageAdaptationLocale, {{ constant
                        ('POURCENTAGE_ADAPTATION', user_data.caracteristiques) }})">
                    </td>
                    <td class="text-center">
                        {{ constant('POURCENTAGE_ADAPTATION', user_data.caracteristiques) }} %
                    </td>
                    <td></td>
                </tr>

                <tr class="lignepubliee">
                    <th>Heures d'enseignement à définir localement</th>
                    {% for i in 1..6 %}
                        <td><input type="text" class="heures form-control"
                                   data-field="nbHeuresEnseignementLocale"
                                   data-semestre="{{ i }}"
                                   x-model.number="donnees[{{ i }}].nbHeuresEnseignementLocale"
                                   @keyup.debounce="update"
                            /></td>
                    {% endfor %}
                    <td class="text-center">
                        <span x-text="donnees.departement.totalAdaptationLocale"></span>
                    </td>
                    <td class="text-center fw-bold">

                    </td>
                    <td class="text-center">

                    </td>
                </tr>
                <tr class="lignepubliee">
                    <th>Heures d'enseignement à définir localement dans les SAÉ</th>
                    {% for i in 1..6 %}
                        <td><input type="text" class="heures form-control"
                                   data-field="nbHeuresEnseignementSaeLocale"
                                   data-semestre="{{ i }}"
                                   x-model.number="donnees[{{ i }}].nbHeuresEnseignementSaeLocale"
                                   @keyup.debounce="update"
                            /></td>
                    {% endfor %}
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="lignepubliee">
                    <th>Heures d'enseignement à définir localement dans les Ressources ou les SAÉ </th>
                    {% for i in 1..6 %}
                        <td>
                            <input type="text" class="heures form-control"
                                   data-field="nbHeuresEnseignementRessourceLocale"
                                   data-semestre="{{ i }}"
                                   x-model.number="donnees[{{ i }}].nbHeuresEnseignementRessourceLocale"
                                   @keyup.debounce="update"
                            />
                        </td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr class="lignepubliee">
                    <th>Heures d'enseignement  ressources définies nationalement </th>
                    {% for i in 1..6 %}
                        <td><input type="text" class="heures form-control"
                                   data-field="nbHeuresEnseignementRessourceNational"
                                   data-semestre="{{ i }}"
                                   x-model.number="donnees[{{ i }}].nbHeuresEnseignementRessourceNational"
                                   @keyup.debounce="update"
                            /></td>
                    {% endfor %}
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>

                <tr>
                    <th>Heures de tp définies nationalement</th>
                    {% for i in 1..6 %}
                        <td><input type="text" class="heures form-control"
                                   data-field="nbHeuresTpNational"
                                   data-semestre="{{ i }}"
                                   x-model.number="donnees[{{ i }}].nbHeuresTpNational"
                                   @keyup.debounce="update"
                            /></td>
                    {% endfor %}
                    <td rowspan="2" class="text-center"
                        x-html="badgeSeuilInferieur(donnees.departement.totalTp, {{ constant('NB_HEURES_TP', user_data
                        .caracteristiques) }})">
                    </td>
                    <td rowspan="2" class="text-center fw-bold">
                        {{ constant('NB_HEURES_TP', user_data.caracteristiques) }}
                    </td>
                    <td rowspan="2" class="text-center" x-html="badgeSeuil(donnees.departement.ecartTotalTp, 0)">
                    </td>
                </tr>
                <tr>
                    <th>Heures de tp à définir localement</th>
                    {% for i in 1..6 %}
                        <td><input type="text" class="heures form-control"
                                   data-field="nbHeuresTpLocale"
                                   data-semestre="{{ i }}"
                                   x-model.number="donnees[{{ i }}].nbHeuresTpLocale"
                                   @keyup.debounce="update"
                            /></td>
                    {% endfor %}

                </tr>

                <tr>
                    <th colspan="10">&nbsp;</th>
                </tr>
                <tr class="lignepubliee">
                    <th>Heures de projet tutoré</th>
                    {% for i in 1..6 %}
                        <td>
                            <input type="text" class="heuresProjet form-control"
                                   x-model.number="donnees[{{ i }}].nbHeuresProjet"
                                   @keyup.debounce="update"
                                   data-field="nbHeuresProjet"
                                   data-semestre="{{ i }}"
                            />
                        </td>
                    {% endfor %}
                    <td class="text-center"
                        x-html="badgeSeuilInferieur(donnees.departement.nbHeuresProjet, {{ constant('NB_HEURES_PROJET', user_data.caracteristiques) }})">
                    </td>
                    <td class="text-center fw-bold">
                        {{ constant('NB_HEURES_PROJET', user_data.caracteristiques) }}
                    </td>
                    <td class="text-center" x-html="badgeSeuil(donnees.departement.ecartProjet, 0)">
                    </td>
                </tr>
                <tr class="lignepubliee">
                    <th scope="row">Heures de projet/année min 150 h / max 250h</th>
                    {% for i in range(1, 6, 2) %}
                        <td class="text-center" colspan="2">
                            <span x-text="donnees[{{ i }}].nbHeuresProjet + donnees[{{ i+1 }}].nbHeuresProjet"></span>
                        </td>
                    {% endfor %}
                    <td class="text-center">
                        <span x-text="donnees.departement.nbHeuresProjet"></span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr class="lignepubliee">
                    <th rowspan="2">Nbre de semaines de stage<br>
                        <p class="text-small"> 8 à 12 semaines BUT 1&2<br>
                                               12 à 16 semaines BUT 3</p>
                    </th>
                    {% for i in 1..6 %}
                        <td>
                            <div class="form-floating mb-3">
                                <input type="text"
                                       class="stage form-control"
                                       id="nbSemainesStageMin_{{ i }}"
                                       x-model.number="donnees[{{ i }}].nbSemainesStageMin"
                                       @keyup.debounce="update"
                                       data-field="nbSemainesStageMin"
                                       data-semestre="{{ i }}"
                                       placeholder="Minimum">
                                <label for="nbSemainesStageMin_{{ i }}">Minimum</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text"
                                       class="stage form-control"
                                       id="nbSemainesStageMax_{{ i }}"
                                       x-model.number="donnees[{{ i }}].nbSemainesStageMax"
                                       @keyup.debounce="update"
                                       data-field="nbSemainesStageMax"
                                       data-semestre="{{ i }}"
                                       placeholder="Maximum">
                                <label for="nbSemainesStageMax_{{ i }}">Maximum</label>
                            </div>
                        </td>
                    {% endfor %}
                    <td rowspan="2" class="text-center">
                        <span x-text="donnees.departement.nbSemainesStageMin"></span> - <span
                                x-text="donnees.departement.nbSemainesStageMax"></span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="4">-</td>
                    <td colspan="2">-</td>
                </tr>
                <tr>
                    <td colspan="10"></td>
                </tr>
                <tr>
                    <th>Nbre de semaines</th>
                    {% for i in 1..6 %}
                        <td class="text-center">
                            <input type="text" class="form-control"
                                   data-field="nbSemaines"
                                   data-semestre="{{ i }}"
                                   x-model.number="donnees[{{ i }}].nbSemaines"
                                   @keyup.debounce="update"
                            />
                        </td>
                    {% endfor %}
                    <td class="text-center">
                        <span x-text="donnees.departement.nbSemaines"></span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Nbre de semaines de congés</th>
                    {% for i in 1..6 %}
                        <td class="text-center">
                            <input type="text" class="form-control"
                                   data-field="nbSemainesConges"
                                   data-semestre="{{ i }}"
                                   x-model.number="donnees[{{ i }}].nbSemainesConges"
                                   @keyup.debounce="update"
                            />
                        </td>
                    {% endfor %}
                    <td class="text-center">
                        <span x-text="donnees.departement.nbSemainesConges"></span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr>
                    <th>Nbre de semaines d'enseignement + projet</th>
                    {% for i in 1..6 %}
                        <td class="text-center">
                            <span x-text="donnees[{{ i }}].nbSemainesCoursProjet"></span>
                        </td>
                    {% endfor %}
                    <td class="text-center">
                        <span x-text="donnees.departement.nbSemainesCoursProjet"></span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <th>Nbre d'heures d'enseignement + projet</th>
                    {% for i in 1..6 %}
                        <td class="text-center">
                            <span x-text="donnees[{{ i }}].nbHeuresCoursProjet"></span>
                        </td>
                    {% endfor %}
                    <td class="text-center"
                        x-html="badgeSeuil(donnees.departement.nbHeuresCoursProjet, {{ user_data
                    .caracteristiques.totalHeuresAvecProjet }})">
                    </td>
                    <td class="text-center fw-bold">
                        {{ user_data.caracteristiques.totalHeuresAvecProjet }}
                    </td>
                    <td class="text-center">
                    </td>
                </tr>
                <tr>
                    <th>Nbre d'heures d'enseignement /année</th>
                    {% for i in range(1, 6, 2) %}
                        <td class="text-center" colspan="2">
                            <span x-text="donnees[{{ i }}].nbHeuresRessourcesSae + donnees[{{ i+1 }}]
                            .nbHeuresRessourcesSae"></span>
                        </td>
                    {% endfor %}
                    <td class="text-center">
                        <span x-text="donnees.departement.nbHeuresRessourcesSae "></span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Nbre d'heures d'enseignement + projet/année</th>
                    {% for i in 1..3 %}
                        <td class="text-center" colspan="2">
                            <span x-text="donnees[{{ i }}].nbHeuresCoursProjet + donnees[{{ i+1 }}]
                            .nbHeuresCoursProjet"></span>
                        </td>
                    {% endfor %}
                    <td class="text-center">
                        <span x-text="donnees.departement.nbHeuresCoursProjet "></span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="10"></th>
                </tr>
                <tr>
                    <th>Demies journées</th>
                    {% for i in 1..6 %}
                        <td class="text-center">
                            <input type="text" class="form-control"
                                   data-field="nbDemiJournees"
                                   data-semestre="{{ i }}"
                                   x-model.number="donnees[{{ i }}].nbDemiJournees"
                                   @keyup.debounce="update"
                            />
                        </td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Durée hedomadaire</th>
                    {% for i in 1..6 %}
                        <td class="text-center" x-html="badgeSeuil(donnees[{{ i }}].dureeHebdo, {{ constant
                            ('NB_MAX_HEURE_SEMAINE', user_data.caracteristiques) }})">
                        </td>
                    {% endfor %}
                    <td></td>
                    <td class="text-center fw-bold">{{ constant('NB_MAX_HEURE_SEMAINE', user_data.caracteristiques) }}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Durée moyenne d'une 1/2 journée</th>
                    {% for i in 1..6 %}
                        <td class="text-center" x-html="badgeSeuil(donnees[{{ i }}].nbMoyenneHeuresDemiJournee, {{ constant
                            ('NB_MAX_HEURE_DEMI_JOURNEE', user_data.caracteristiques) }})">

                        </td>
                    {% endfor %}
                    <td></td>
                    <td class="text-center fw-bold">{{ constant('NB_MAX_HEURE_DEMI_JOURNEE', user_data.caracteristiques) }}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Nbre d'heures hebdomadaire d'enseignement</th>
                    {% for i in 1..6 %}
                        <td class="text-center">
                            <span x-text="numberFormat(donnees[{{ i }}].nbHeuresCoursHebdo)"></span>
                        </td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Nbre d'heures hebdomadaire de projet</th>
                    {% for i in 1..6 %}
                        <td class="text-center">
                            <span x-text="numberFormat(donnees[{{ i }}].nbHeuresHebdoProjet)"></span>
                        </td>
                    {% endfor %}
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block header %}
    Tableau d'organisation globale du B.U.T.
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('export_excel_structure') }}" class="btn btn-sm btn-outline-success
        btn-icon btn-icon-end w-100 w-sm-auto mx-2"
    >
        <i class="bi-download"></i>
        <span>Export Excel</span>
    </a>
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Tableau d\'organisation globale',
        }
    ]}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

