<table class="table table-bordered">
    <tr>
        <th>Parcours</th>
        <th>Semestre</th>
    </tr>
    <tr>
        <td>
            {% for parcours in apc_ressource.apcRessourceParcours %}
                <span class="badge badge-parcours-{{ parcours.parcours != null ? parcours.parcours.couleur : ''}}">
                        {{  parcours.parcours != null ? parcours.parcours.libelle : 'err'}}</span>
            {% else %}
                <span class="badge bg-success">
                        Tous les parcours</span>
            {% endfor %}
        </td>
        <td>{{ apc_ressource.semestre != null ? apc_ressource.semestre.libelle : '-' }}</td>
    </tr>
    <tr>
        <th>Code et Nom</th>
        <th>Volume horaire</th>
    </tr>
    <tr>
        <td>{{ apc_ressource.codeMatiere }} | {{ apc_ressource.libelle }}</td>
        <td>{{ apc_ressource.heuresTotales }}h dont  {{ apc_ressource.tpPpn }}h TP</td>
    </tr>
</table>

<h3>Compétences ciblées</h3>
<p>
    {% for competence in apc_ressource.apcRessourceCompetences|filter(competence => competence.competence !=
        null) %}
        <span class="badge badge-lg badge-{{ competence.competence.couleur }}">
                    {{ competence.competence.libelle }}
                </span>
    {% endfor %}
</p>

<h3>Apprentissages critiques</h3>
<p>
    {% for ac in apc_ressource.apcRessourceApprentissageCritiques|filter(ac => ac.apprentissageCritique !=
        null) %}
        <span class="badge badge-lg badge-{{ ac.apprentissageCritique.niveau.competence.couleur }}">
                    {{ ac.apprentissageCritique.code }} | {{ ac.apprentissageCritique.libelle }}</span>
    {% endfor %}
</p>

<h3>SAÉ concernées</h3>
<p>
    {% for sae in apc_ressource.apcSaeRessources|filter(sae => sae.sae !=
        null) %}
        <span class="badge bg-primary"
              data-provide="tooltip"
              title="{{ sae.sae.libelle }}"
        >{{ sae.sae.codeMatiere }}</span>
    {% endfor %}
</p>

<h3>Descriptif</h3>
<p>
    {{ apc_ressource.description != null ? apc_ressource.description|markdown_to_html : '' }}
</p>

<h3>Prérequis</h3>
<p>
    {% for prerequis in apc_ressource.ressourcesPreRequises %}
        <span class="badge bg-primary">
            {{ prerequis.codeMatiere }} | {{ prerequis.libelle }}
        </span>
    {% endfor %}
</p>

<h3>Mots clés</h3>
<p>
    {{ apc_ressource.motsCles|keyWords }}
</p>

