{% extends 'base.html.twig' %}

{% block header %}
    Modification de la ressource {{ apc_ressource.display }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body" x-data="getUpdateRessource()">
            {{ form_start(form) }}
            {% form_theme form 'form/my-form.html.twig' %}
            {{ include('formation/apc_ressource/_form.html.twig') }}

            <button class="btn btn-success">Sauvegarder</button>
            <button class="btn btn-success" value="redirect_to_index" name="btn_update">
                Sauvegarder et revenir aux ressources
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ' ~apc_ressource.semestre.annee.ordre,
        },
        {
            href: path('but_ressources_annee', {annee: apc_ressource.semestre.annee.id, semestre: apc_ressource
        .semestre.id}),
            title: 'Les ressources',
        },
    ]}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      const ressource = {{ apc_ressource.id }}
    </script>
{% endblock %}

