{% extends 'base.html.twig' %}

{% block header %}
    Modification de la ressource {{ apc_ressource.display }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body" x-data="update">
            {{ form_start(form) }}
            {% form_theme form 'form/my-form.html.twig' %}
            {{ include('formation/apc_ressource/_form.html.twig') }}

            <button class="btn btn-success">Sauvegarder</button>
            <button class="btn btn-success" value="redirect_to_index" name="btn_update">
                Sauvegarder et revenir aux ressources
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
      document.addEventListener('alpine:init', () => {
        Alpine.data('update', () => ({
          acs: null,
          saes: null,
          semestre: {},
          init () {
            this.semestre = this.displayRadioValue()
            console.log(this.semestre)
          },
          displayRadioValue () {
            //init le select du semestre
            var ele = document.getElementsByName('apc_ressource[semestre]')

            for (i = 0; i < ele.length; i++) {
              if (ele[i].checked)
                return ele[i].value
            }
          },
          changeSemestre () {
            console.log(this.semestre)
          }
        }))
      })
    </script>
{% endblock %}

