{% extends 'base.html.twig' %}

{% block header %}
    Création d'une nouvelle ressource
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {% form_theme form 'form/my-form.html.twig' %}
            {{ include('formation/apc_ressource/_form.html.twig') }}

            <button class="btn btn-success">Sauvegarder</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ' ~apc_ressource.semestre.annee.ordre,
        },
        {
            href: path('but_ressources_annee', {annee: apc_ressource.semestre.annee.id, semestre: apc_ressource
        .semestre.id}),
            title: 'Les ressources',
        },
    ]}) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
