<!DOCTYPE html>
<html lang="fr" data-footer="true">
<head>
    <meta charset="UTF-8">
    <title>{{ block('header')|raw }} - ORéBUT</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <script src="{{ asset('csicons.min.js') }}"></script>
    <script src="{{ asset('autoComplete.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<!-- Content Container Start -->
<div id="root">

    <!-- Nav Content Start -->
    <div id="nav" class="nav-container d-flex">
        <div class="nav-content d-flex">
            <!-- Logo Start -->
            <div class="logo position-relative">
                <a href="/">
                    <!-- Logo can be added directly -->
                    <!-- <img src="img/logo/logo-white.svg" alt="logo" /> -->

                    <!-- Or added via css to provide different ones for different color themes -->
                    <div class="logo-but"><i class="bi-pencil"></i>&nbsp;ORéBUT</div>
                </a>
            </div>
            <!-- Logo End -->

            <!-- User Menu Start -->
            <div class="user-container d-flex">
                <a href="#" class="d-flex user position-relative" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="name">{{ app.user.display }}</div>
                </a>
                <div class="dropdown-menu dropdown-menu-end user-menu wide">
                    <div class="row mb-3 ms-0 me-0">
                        <div class="col-12 ps-1 mb-2">
                            <div class="text-extra-small text-primary">ACCOUNT</div>
                        </div>
                        <div class="col-12 ps-1 pe-1">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('profil_profil') }}">Mes informations</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-1 ms-0 me-0">
                        <div class="col-12 p-1 mb-2 pt-2">
                            <div class="text-extra-small text-primary">APPLICATION</div>
                        </div>
                        <div class="col-12 ps-1 pe-1">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('profil_theme') }}">Themes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-1 ms-0 me-0">
                        <div class="col-12 p-1 mb-2 pt-2">
                            <div class="text-extra-small text-primary">ACCÈS</div>
                        </div>
                        <div class="col-12 ps-1 pe-1">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('profil_password') }}">Modification du mot de passe</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {# <div class="row mb-1 ms-0 me-0"> #}
                    {# <div class="col-12 p-1 mb-3 pt-3"> #}
                    {# <div class="separator-light"></div> #}
                    {# </div> #}
                    {# <div class="col-6 ps-1 pe-1"> #}
                    {# <ul class="list-unstyled"> #}
                    {# <li> #}
                    {# <a href="#"> #}
                    {# <i data-cs-icon="help" class="me-2" data-cs-size="17"></i> #}
                    {# <span class="align-middle">Help</span> #}
                    {# </a> #}
                    {# </li> #}
                    {# <li> #}
                    {# <a href="#"> #}
                    {# <i data-cs-icon="document-full" class="me-2" data-cs-size="17"></i> #}
                    {# <span class="align-middle">Docs</span> #}
                    {# </a> #}
                    {# </li> #}
                    {# </ul> #}
                    {# </div> #}
                    {# <div class="col-6 pe-1 ps-1"> #}
                    {# <ul class="list-unstyled"> #}
                    {# <li> #}
                    {# <a href="#"> #}
                    {# <i data-cs-icon="gear" class="me-2" data-cs-size="17"></i> #}
                    {# <span class="align-middle">Settings</span> #}
                    {# </a> #}
                    {# </li> #}
                    {# <li> #}
                    {# <a href="{{ path('app_logout') }}"> #}
                    {# <i data-cs-icon="logout" class="me-2" data-cs-size="17"></i> #}
                    {# <span class="align-middle">Logout</span> #}
                    {# </a> #}
                    {# </li> #}
                    {# </ul> #}
                    {# </div> #}
                    {# </div> #}
                </div>
            </div>
            <!-- User Menu End -->

            <!-- Icons Menu Start -->
            <ul class="list-unstyled list-inline text-center menu-icons">
                <li class="list-inline-item">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#searchPagesModal">
                        <i data-cs-icon="search" data-cs-size="18"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" id="colorButton">
                        <i data-cs-icon="light-on" class="light" data-cs-size="18"></i>
                        <i data-cs-icon="light-off" class="dark" data-cs-size="18"></i>
                    </a>
                </li>
                {# <li class="list-inline-item"> #}
                {# <a href="#" data-bs-toggle="dropdown" data-bs-target="#notifications" aria-haspopup="true" aria-expanded="false" class="notification-button"> #}
                {# <div class="position-relative d-inline-flex"> #}
                {# <i data-cs-icon="bell" data-cs-size="18"></i> #}
                {# <span class="position-absolute notification-dot rounded-xl"></span> #}
                {# </div> #}
                {# </a> #}
                {# <div class="dropdown-menu dropdown-menu-end wide notification-dropdown scroll-out" id="notifications"> #}
                {# <div class="scroll"> #}
                {# <ul class="list-unstyled border-last-none"> #}
                {# {% for notification in notifications %} #}
                {# <li class="mb-3 pb-3 border-bottom border-separator-light d-flex"> #}
                {# <img src="" class="me-3 sw-4 sh-4 rounded-xl align-self-center" alt="..."/> #}
                {# <div class="align-self-center"> #}
                {# <a href="#">Joisse Kaycee just sent a new comment!</a> #}
                {# </div> #}
                {# </li> #}
                {# {% endfor %} #}
                {# </ul> #}
                {# </div> #}
                {# </div> #}
                {# </li> #}
            </ul>
            <!-- Icons Menu End -->

            <!-- Menu Start -->
            <div class="menu-container flex-grow-1">
                <ul id="menu" class="menu">
                    {% if user_data.departement != null %}
                        <li>
                            <a href="#ref_competences" data-href="{{ path('administration_apc_referentiel_index', {departement:1}) }}">
                                <i data-cs-icon="home" class="icon" data-cs-size="18"></i>
                                <span class="label">Ref. Compétences</span>
                            </a>
                            <ul id="ref_competences">
                                <li>
                                    <a href="{{ path('administration_apc_referentiel_index', {departement: user_data
                                    .departement.id}) }}">
                                        <span class="label">Consulter</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#ref_formation" data-href="Dashboards.html">
                                <i data-cs-icon="home" class="icon" data-cs-size="18"></i>
                                <span class="label">Tableaux</span>
                            </a>
                            <ul id="ref_formation">
                                <li>
                                    <a href="{{ path('tableau_structure') }}">
                                        <span class="label">Structure des 3 années</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('tableau_croise_complet') }}">
                                        <span class="label">Tableaux croisés des 3 années</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('tableau_preconisations_complet') }}">
                                        <span class="label">Préconisations des 3 années</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% for annee in user_data.annees %}
                            <li>
                                <a href="#ref_formation" data-href="{{ path('but_annee', {annee: annee.id}) }}">
                                    <i data-cs-icon="home" class="icon" data-cs-size="18"></i>
                                    <span class="label">BUT{{ annee.ordre }}</span>
                                </a>
                                <ul id="ref_formation">
                                    <li>
                                        <a href="{{ path('but_ressources_annee', {annee: annee.id}) }}">
                                            <span class="label">Ressources</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('but_sae_annee', {annee: annee.id}) }}">
                                            <span class="label">SAE</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('tableau_croise_annee', {annee: annee.id}) }}">
                                            <span class="label">Tableaux croisés AC/SAÉ/Ressources</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('tableau_preconisations_annee', {annee: annee.id}) }}">
                                            <span class="label">Préconisations Coefficients/heures</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('tableau_croise_annee', {annee: annee.id}) }}">
                                            <span class="label">Tableau par parcours</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('tableau_validation_sae_ac_annee', {annee: annee.id}) }}">
                                            <span class="label">Validation des AC par les SAÉ</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endfor %}

                    {% endif %}
                    <li>
                        <a href="#ref_formation" data-href="Dashboards.html">
                            <i data-cs-icon="home" class="icon" data-cs-size="18"></i>
                            <span class="label">Admin.</span>
                        </a>
                        <ul id="ref_formation">
                            {% if is_granted('ROLE_GT') %}
                                <li>
                                    <a href="{{ path('administration_apc_referentiel_import') }}">
                                        <span class="label">Importer des référentiels</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('administration_departement_index') }}">
                                        <span class="label">Gestion des spécialités</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('administration_utilisateur_index') }}">
                                    <span class="label">Gérer les accès</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if is_granted('ROLE_GT') %}
                        <li class="mega dropdown">
                            <a href="#ref_formation" data-href="Dashboards.html">
                                <i data-cs-icon="home" class="icon" data-cs-size="18"></i>
                                <span class="label">B.U.T.</span>
                            </a>
                            <ul id="interface" class="row align-items-start row-cols-2 dropdown-menu"
                                data-popper-placement="bottom-start">
                                <li class="dropdown col d-flex flex-column">
                                    <a href="#tertiaires" data-href="Interface.Components.html" class="dropdown-toggle
                                    active">
                                        <span class="label">Tertiaires</span>
                                    </a>
                                    <ul id="tertiaires">
                                        {% for specialite in user_data.specialites|filter(specialite => specialite
                                        .typeDepartement == 'tertiaire') %}
                                            <li class="col d-flex flex-column">
                                                <a href="{{ path('change_specialite', {departement:specialite.id}) }}">
                                                    <span class="label">{{ specialite.sigle }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="dropdown col d-flex flex-column">
                                    <a href="#Secondaires" class="dropdown-toggle">
                                        <span class="label">Secondaires</span>
                                    </a>
                                    <ul id="Secondaires">
                                        {% for specialite in user_data.specialites|filter(specialite => specialite
                                        .typeDepartement == 'secondaire') %}
                                            <li class="col d-flex flex-column">
                                                <a href="{{ path('change_specialite', {departement:specialite.id}) }}">
                                                    <span class="label">{{ specialite.sigle }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- Menu End -->

            <!-- Mobile Buttons Start -->
            <div class="mobile-buttons-container">
                <!-- Scrollspy Mobile Button Start -->
                <a href="#" id="scrollSpyButton" class="spy-button" data-bs-toggle="dropdown">
                    <i data-cs-icon="menu-dropdown"></i>
                </a>
                <!-- Scrollspy Mobile Button End -->

                <!-- Scrollspy Mobile Dropdown Start -->
                <div class="dropdown-menu dropdown-menu-end" id="scrollSpyDropdown"></div>
                <!-- Scrollspy Mobile Dropdown End -->

                <!-- Menu Button Start -->
                <a href="#" id="mobileMenuButton" class="menu-button">
                    <i data-cs-icon="menu"></i>
                </a>
                <!-- Menu Button End -->
            </div>
            <!-- Mobile Buttons End -->
        </div>
        <div class="nav-shadow"></div>
    </div>
    <!-- Nav Content End -->

    <!-- Main Content Start -->
    <main>
        <div class="container">
            <!-- Title and Top Buttons Start -->
            <div class="page-title-container">
                <div class="row">
                    <!-- Title Start -->
                    <div class="col-12 col-sm-6">
                        <h1 class="mb-0 pb-0 display-4" id="title">{% block header %}{% endblock %}</h1>
                        <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                            {% block breadcrumb %}

                            {% endblock %}

                        </nav>
                    </div>
                    <!-- Title End -->

                    <!-- Top Buttons Start -->
                    <div class="col-12 col-sm-6 d-flex align-items-start justify-content-end">
                        <!-- Tour Button Start -->
                        {% block bouton_header %}
                            {# <button type="button" class="btn btn-outline-primary btn-icon btn-icon-end w-100 w-sm-auto" id="dashboardTourButton"> #}
                            {# <span>Take a Tour</span> #}
                            {# <i data-cs-icon="flag"></i> #}
                            {# </button> #}
                        {% endblock %}
                        <!-- Tour Button End -->
                    </div>
                    <!-- Top Buttons End -->
                </div>
            </div>
            <!-- Title and Top Buttons End -->
            {% block content %}

            {% endblock %}
        </div>
    </main>
    <!-- Main Content End -->

    <!-- Footer Content Start -->
    <footer>
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6">

                        <ul class="breadcrumb pt-0 pe-0 mb-0">
                            <li class="breadcrumb-item mb-0 text-medium">
                                <p class="mb-0 text-muted text-medium">&copy; 2021 David Annebicque </p>
                            </li>
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="#" class="btn-link">Docs</a>
                            </li>
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="#" class="btn-link" data-bs-toggle="modal"
                                   data-bs-target="#modalUsageDonnees">Usage des données</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Modal -->
                    <div
                            class="modal fade modal-close-out"
                            id="modalUsageDonnees"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="examplemodalUsageDonnees"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="examplemodalUsageDonnees">Usage des données</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Ce site n'enregistre aucune données sur votre utilisation de l'outil.</p>
                                    <p>Un seul cookie est utilisé permettant de gérer la connexion (lorsque vous activez
                                       l'option "se souvenir de moi" sur la page de connexion.</p>
                                    <p>Les fichiers de log (en cas d'erreur ou de problème) sont complètement
                                       anonymes et sans information personnelles vous concernant.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 d-none d-sm-block">
                        <ul class="breadcrumb pt-0 pe-0 mb-0 float-end">
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="mailto:david.annebicque@univ-reims.fr" target="_blank" class="btn-link"><i
                                            class="text-primary icon-14
                                    bi-envelope"></i></a>
                            </li>
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="https://github.com/Dannebicque/redigeTonBut" target="_blank"
                                   class="btn-link"><i class="text-primary icon-14
                                    bi-github"></i></a>
                            </li>
                            <li class="breadcrumb-item mb-0 text-medium">
                                <a href="https://twitter.com/davidannebicque" target="_blank" class="btn-link">
                                    <i class="text-primary icon-14  bi-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Content End -->

</div>
<!-- Content Container End -->
<!-- Search Modal Start -->
<div class="modal fade modal-under-nav modal-search modal-close-out" id="searchPagesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0 p-0">
                <button type="button" class="btn-close btn btn-icon btn-icon-only btn-foreground" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ps-5 pe-5 pb-0 border-0">
                <input id="searchPagesInput" class="form-control form-control-xl borderless ps-0 pe-0 mb-1
                auto-complete" type="text" autocomplete="off" placeholder="Rechercher"/>
            </div>
            <div class="modal-footer border-top justify-content-start ps-5 pe-5 pb-3 pt-3 border-0">
            <span class="text-alternate d-inline-block m-0 me-3">
              <i data-cs-icon="arrow-bottom" data-cs-size="15" class="text-alternate align-middle me-1"></i>
              <span class="align-middle text-medium">Navigate</span>
            </span>
                <span class="text-alternate d-inline-block m-0 me-3">
              <i data-cs-icon="arrow-bottom-left" data-cs-size="15" class="text-alternate align-middle me-1"></i>
              <span class="align-middle text-medium">Select</span>
            </span>
            </div>
        </div>
    </div>
</div>
<!-- Search Modal End -->
</body>
</html>
