{% extends 'pdf/basepdf.html.twig' %}

{% block titre %}
    Les situations professionnelles | Parcours {{ parcours.libelle }} | {{ departement.libelle }}
{% endblock %}

{% block content %}
    <div class="header">
        <div class="header-4">
            <h1>
                Les situations professionnelles
            </h1>
        </div>
        <div class="header-8">
            <h2>B.U.T. {{ departement.libelle }}</h2>
            <h2>Parcours {{ parcours.libelle }}</h2>
        </div>
    </div>
    <hr class="hr-header" />
    <div class="definition">
        <p>
            Les situations professionnelles se réfèrent aux <strong>contextes</strong> dans lesquels les compétences sont mises
            en jeu. Ces situations varient selon la compétence ciblée.
        </p>
    </div>
    <div>
        <table style="width:100%;">
            {% for competence in competences %}
                <tr>
                    <td class="competence{{ competence.couleur }}" style="width:15%; text-align: center">
                        {{ competence.nomCourt }}
                    </td>
                    <td class="situationpro situation{{ competence.couleur }}"  style="width:20%">
                        Situations professionnelles&nbsp;&nbsp;
                    </td>
{#                    <td style="width:10%">&nbsp;</td>#}
                    <td class="situationliste{{ competence.couleur }}"  style="width:65%; padding-left: 10px">
                        {% for situation in competence.apcSituationProfessionnelles %}
                            <p>{{ situation.libelle }}</p>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        &nbsp;
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
