{% extends 'pdf/basepdf.html.twig' %}

{% block titre %}
    Les compétences et les composantes essentielles | Parcours {{ parcours.libelle }} | {{ departement.libelle }}
{% endblock %}

{% block content %}
    <div class="header">
        <div class="header-4">
            <h1>
                Les compétences et les composantes essentielles
            </h1>
        </div>
        <div class="header-8">
            <h2>B.U.T. {{ departement.libelle }}</h2>
            <h2>Parcours {{ parcours.libelle }}</h2>
        </div>
    </div>
    <hr class="hr-header">
    <div class="definition">
        <p>
            Une <strong>compétence</strong> est un « <strong>savoir-agir complexe</strong>, prenant appui sur la
            mobilisation
            et la combinaison efficaces d’une variété de ressources à l’intérieur d’une famille de
            situations » (Tardif, 2006). Les ressources désignent ici les savoirs, savoir-faire et savoir-être dont
            dispose
            un individu et qui lui permettent de mettre en oeuvre la compétence.
        </p>
    </div>
    <div>
        <table style="width: 100%">
            {% for competence in competences %}
                <tr style="">{# definir un %de hauteur selon le nombre de compétences ? #}
                    <td class="competence{{ competence.couleur }}" style="width:15%; text-align: center">
                        {{ competence.nomCourt }}
                    </td>
                    <td style="width:5%">&nbsp;</td>
                    <td class="competencelongue{{ competence.couleur }}" style="width:20%; padding-left: 10px">
                        {{ competence.libelle }}
                    </td>
                    <td class="composantesessentielles{{ competence.couleur }}" style="width:60%;">
                        <ul>
                            {% for composante in competence.apcComposanteEssentielles %}
                                <li>{{ composante.code }} | {{ composante.libelle }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
