{% extends 'pdf/basepdf.html.twig' %}

{% block titre %}
    Tableau Croisé semestre {{ semestre.ordreLmd }} {% if parcours != null %} | {{ parcours.libelle }}{% endif %}| {{ departement.libelle }}
{% endblock %}

{% block content %}
    {#    <h1>Tableau croisé pour le B.U.T {{ departement.libelle }}, semestre {{ semestre.ordreLmd }}</h1> #}
    {#    {% if parcours != null %} #}
    {#        <h2>Parcours : {{ parcours.libelle }}</h2> #}
    {#    {% endif %} #}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>AC</th>
            {% for sae in saes %}
                <th class="tdsae">
                    <img src="{{ linuxpath }}{{ asset('latex/'~departement.numeroAnnexe~'/tableaux/sae_'~sae.id~'.png')
                    }}">
                </th>
            {% endfor %}

            {% for ressource in ressources %}
                <th>
                    <img src="{{ linuxpath }}{{ asset('latex/'~departement.numeroAnnexe~'/tableaux/ressource_'~ressource.id~'.png') }}">
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for niveau in niveaux %}
            <tr>
                <td rowspan="{{ niveau.apcApprentissageCritiques|length+1 }}" class="bg_{{ niveau.competence
                .couleur }}">
                    <div class="vertical">
                        <span class="nomcomp">{{ niveau.competence.nomCourt }}</span>
                    </div>
                </td>
            </tr>

            {% for ac in niveau.apcApprentissageCritiques %}
                <tr>
                    <td class="bg_{{ niveau.competence.couleur }}">
                        <p data-bs-toggle="tooltip" title="{{ ac.libelle }}">{{ ac.code }}</p>
                    </td>
                    {% for sae in saes %}
                        <td class="text-center tdsae">
                            {% if tab.saes[sae.id] is defined and tab.saes[sae.id][ac.id] is defined %}
                                <span class="croix">X</span>{% endif %}
                        </td>
                    {% endfor %}

                    {% for ressource in ressources %}
                        <td class="text-center">
                            {% if tab.ressources[ressource.id] is defined and tab.ressources[ressource.id][ac.id] is
                                defined %}<span class="croix">X</span>{% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td colspan="{{ ressources|length + saes|length + 2 }}"></td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="2">Volume total</th>
            <td colspan="{{ saes|length }}" class="text-center tdsae">&nbsp;</td>
            {% for ressource in ressources %}
                <td class="text-center">
                    {{ ressource.heuresTotales }}
                </td>
            {% endfor %}
            <td class="text-center">{{ donnees[semestre.ordreLmd]['totalEnseignementRessources'] }}</td>
        </tr>
        <tr>
            <th colspan="2">Dont TP</th>
            <td colspan="{{ saes|length }}" class="text-center tdsae">&nbsp;</td>
            {% for ressource in ressources %}
                <td class="text-center">
                    {{ ressource.tpPpn }}
                </td>
            {% endfor %}
            <td class="text-center">{{ donnees[semestre.ordreLmd]['totalDontTpRessources'] }}</td>
        </tr>
        <tr>
            <th colspan="2">Adaptation Locale</th>
            <td colspan="{{ saes|length }}" class="text-center tdsae">{{ donnees[semestre
                .ordreLmd]['vhNbHeuresEnseignementSae'] }}</td>
            <td class="text-center" colspan="{{ ressources|length }}">
                &nbsp;
            </td>
            <td class="text-center">{{ donnees[semestre.ordreLmd]['vhNbHeuresEnseignementSae'] }}</td>
        </tr>
        <tr>
            <th colspan="2">Adaptation Locale</th>
            <td colspan="{{ saes|length + ressources|length }}" class="text-center">{{ donnees[semestre.ordreLmd]['vhNbHeureeEnseignementSaeRessource'] }}</td>
            <td class="text-center">{{ donnees[semestre.ordreLmd]['vhNbHeureeEnseignementSaeRessource'] }}</td>
        </tr>
        <tr>
            <th colspan="2">Dont TP</th>
            <td colspan="{{ saes|length + ressources|length }}" class="text-center">{{ donnees[semestre.ordreLmd]['vhNbHeuresDontTpSaeRessource'] }}</td>
            <td class="text-center">{{ donnees[semestre.ordreLmd]['vhNbHeuresDontTpSaeRessource'] }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
