{% extends 'pdf/basepdf.html.twig' %}

{% block titre %}
    Tableau structure complet | {{ departement.libelle }}
{% endblock %}

{% block styles %}
    @page { size: A4; }

    body {
    font-size: 14px;
    }

    .table th {
    padding: 5px;
    }
{% endblock %}

{% block content %}
    <h1>Tableau de structure pour le B.U.T {{ departement.libelle }}</h1>
    {% if parcours != null %}
        <h2>Pour le parcours : {{ parcours.libelle }}</h2>
    {% endif %}
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th style="height: 40px; font-weight: bold; background-color: #253a52; color: white">Semestres</th>
            {% for i in 1..6 %}
                <th class="col-semestre text-center" style="height: 30px; font-weight: bold;background-color: #253a52; color: white">
                    S{{ i }}</th>
            {% endfor %}
            <th class="col-total text-center" style="height: 30px; font-weight: bold;background-color: #253a52; color: white">
                TOTAL
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="lignepubliee">
            <th class="text-left" style="height: 30px; font-weight: bold; background-color: #253a52; color:
            white">Nbre d'heures d'enseignement (ressources + SAé)
            </th>
            {% for i in 1..6 %}
                <td class="text-center">
                    {{ donnees[i].nbHeuresRessourcesSae }}
                </td>
            {% endfor %}
            <td class="text-center">
                {{ donnees.departement.nbHeuresRessourcesSae }}
            </td>
        </tr>
        <tr>
            <td colspan="8">&nbsp;</td>
        </tr>
        <tr class="lignepubliee">
            <th class="text-left" style="height: 30px; font-weight: bold; background-color: #253a52; color:
            white">Dont % d'adaptation locale<br>
                <p class="text-small">max 40% du volume d'enseignement</p></th>
            {% for i in 1..6 %}
                <td class="text-center">
                    {{ donnees[i].pourcentageAdaptationLocale }} %
                </td>
            {% endfor %}
            <td class="text-center">
                {{ donnees.departement.totalPourcentageAdaptationLocale|number_format(0) }} %
            </td>
        </tr>

        <tr class="lignepubliee">
            <th class="text-left" style="height: 30px; font-weight: bold; background-color: #253a52; color:
            white">Nbre d'heures d'enseignement définies localement
            </th>
            {% for i in 1..6 %}
                <td class="text-center">
                    {{ donnees[i].nbHeuresEnseignementLocale }}
                </td>
            {% endfor %}
            <td class="text-center">
                {{ donnees.departement.totalAdaptationLocale }}
            </td>
        </tr>
        <tr class="lignepubliee">
            <th class="text-left" style="height: 30px; font-weight: bold; background-color: #253a52; color:
            white">Nbre heures d'enseignement SAÉ définies localement
            </th>
            {% for i in 1..6 %}
                <td class="text-center">
                    {{ donnees[i].nbHeuresEnseignementSaeLocale }}
                </td>
            {% endfor %}
            <td>
            </td>
        </tr>
        <tr class="lignepubliee">
            <th class="text-left" style="height: 30px; font-weight: bold; background-color: #253a52; color:
            white">Nbre heures d'enseignement à définir localement dans les Ressources ou les SAÉ
            </th>
            {% for i in 1..6 %}
                <td class="text-center">
                    {{ donnees[i].nbHeuresEnseignementRessourceLocale }}
                </td>
            {% endfor %}
            <td></td>
        </tr>

        <tr class="lignepubliee">
            <th class="text-left" style="height: 30px; font-weight: bold; background-color: #253a52; color:
            white">Nbre heures d'enseignement des ressources définies nationalement
            </th>
            {% for i in 1..6 %}
                <td class="text-center">
                    {{ donnees[i].nbHeuresEnseignementRessourceNational }}
                </td>
            {% endfor %}
            <td>
            </td>
        </tr>

        <tr>
            <th class="text-left" style="height: 30px; font-weight: bold; background-color: #253a52; color:
            white">Nbre heures de tp définies nationalement
            </th>
            {% for i in 1..6 %}
                <td class="text-center">
                    {{ donnees[i].nbHeuresTpNational }}
                </td>
            {% endfor %}
            <td class="text-center" rowspan="2">
                {{ donnees.departement.totalTp }}
            </td>
        </tr>
        <tr>
            <th class="text-left" style="height: 30px; font-weight: bold; background-color: #253a52; color:
            white">Nbre heures de tp à définir localement
            </th>
            {% for i in 1..6 %}
                <td class="text-center">
                    {{ donnees[i].nbHeuresTpLocale }}
                </td>
            {% endfor %}
        </tr>

        <tr>
            <td colspan="8">&nbsp;</td>
        </tr>
        <tr class="lignepubliee">
            <th class="text-left" style="height: 30px; font-weight: bold; background-color: #253a52; color:
            white">Nbre d'heures de projet tutoré
            </th>
            {% for i in 1..6 %}
                <td class="text-center">
                    {{ donnees[i].nbHeuresProjet }}
                </td>
            {% endfor %}
            <td class="text-center">
                {{ donnees.departement.nbHeuresProjet }}
            </td>
        </tr>
        <tr class="lignepubliee">
            <th scope="row" class="text-left" style="height: 30px; font-weight: bold; background-color: #253a52; color:
            white">Nbre heures de projet/année min 150 h / max 250h
            </th>
            {% for i in range(1, 6, 2) %}
                <td class="text-center" colspan="2">
                    {{ donnees[i].nbHeuresProjet + donnees[i + 1].nbHeuresProjet }}
                </td>
            {% endfor %}
            <td class="text-center">
                {{ donnees.departement.nbHeuresProjet }}
            </td>
        </tr>

        <tr>
            <td colspan="8">&nbsp;</td>
        </tr>
        <tr class="lignepubliee">
            <th class="text-left" style="height: 30px; font-weight: bold; background-color: #253a52; color:
            white">Nbre de semaines de stage<br>
                <p class="text-small"> 8 à 12 semaines BUT 1&2<br>
                                       12 à 16 semaines BUT 3</p>
            </th>
            {% for i in 1..6 %}
                <td class="text-center">
                    {% if donnees[i].nbSemainesStageMin == 0 and donnees[i].nbSemainesStageMax == 0 %}
                        0
                    {% elseif donnees[i].nbSemainesStageMin == donnees[i].nbSemainesStageMax %}
                        {{ donnees[i].nbSemainesStageMin }}
                    {% else %}
                        {{ donnees[i].nbSemainesStageMin }} à
                        {{ donnees[i].nbSemainesStageMax }}
                    {% endif %}
                </td>
            {% endfor %}
            <td class="text-center">
                {% if departement.sigle == 'HSE' %}
                    26
                {% else %}
                    {% set min = donnees.departement.nbSemainesStageMin < 22 ? 22 : donnees.departement
                    .nbSemainesStageMin %}
                    {% set max = donnees.departement.nbSemainesStageMax > 26 ? 26 : donnees.departement
                    .nbSemainesStageMax %}
                    {% if min == max %}
                        {{ max }}
                    {% else %}
                        {{ min }} à {{ max }}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
