{% extends 'base.html.twig' %}

{% block title %}Liste des SAÉ{% endblock %}
{% block header %}Liste des SAÉ{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>SAE</th>
                <th>IUT</th>
                <th>Spécialité</th>
                <th>Parcours</th>
                <th>Publiée ?</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for sae in saes %}
                <tr>
                    <td>
                        <a href="{{ path('app_qapes_sae_show', {id:sae.id}) }}">
                            {{ sae.intituleSae }} ({{ sae.sae ? sae.sae.libelle : '-' }})
                        </a>
                    </td>
                    <td>{{ sae.iutSite ? (sae.iutSite.iut ? sae.iutSite.iut.libelle : '-') : '-' }} ({{ sae
                        .iutSite ? sae.iutSite.libelle : '-' }})
                    </td>
                    <td>{{ sae.specialite ? sae.specialite.sigle : '-' }}</td>
                    <td>{{ sae.parcours ? sae.parcours.libelle : '-' }}</td>
                    <td>
                        {% if sae.publiee %}
                            <span class="badge bg-success">Publiée</span>
                        {% else %}
                            <span class="badge bg-danger">Non publiée</span>
                        {% endif %}
                    </td>
                    <td class="text-end">
                        <a href="{{ path('app_qapes_sae_edit', {id:sae.id}) }}" class="btn btn-outline-warning btn-sm mb-1">
                            <i class="bi bi-pencil"></i>
                            Modifier
                        </a>
                        <form method="POST" class="d-inline" action="{{ path('app_qapes_sae_delete', {id:sae.id}) }}"
                              onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet élément ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sae.id) }}">
                            <button class="btn btn-sm btn-icon btn-icon-start btn-outline-danger mb-1">
                                <i class="bi-trash"></i>
                                <span class="d-none d-xxl-inline-block">Supprimer</span>
                            </button>
                        </form>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_qapes_sae_new') }}" class="btn
            btn-outline-primary
            btn-icon btn-icon-end
    w-100
    w-sm-auto"
    >
        <i class="bi bi-plus-circle"></i>
        <span>Ajouter une SAÉ</span>
    </a>
{% endblock %}
