<div class="col-md-4 col-sm-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ ressource.display }}</h4>
            <p class="card-subtitle mb-3 text-alternate">{{ ressource.motsCles }}</p>
            <p>
                {% for competence in ressource.apcRessourceCompetences %}
                    <span class="badge badge-{{ competence.competence.couleur }}">
                        {{ competence.competence.nomCourt }}</span>
                {% endfor %}

            </p>
            <h5>Heures ressources</h5>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width:50%">Heures totales</th>
                    <th style="width:50%">Dont TP</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ ressource.heuresTotales }}</td>
                    <td>{{ ressource.tpPpn }}</td>
                </tr>
                </tbody>
            </table>
            <p>
                {% if user_data.departement.typeStructure == 'type3' or annee.ordre >= 2 %}
                    {% for parcours in ressource.apcRessourceParcours %}
                        <span class="badge badge-parcours-{{ parcours.parcours.couleur }}">
                            {{ parcours.parcours.libelle }}
                        </span>
                    {% else %}
                        <span class="badge bg-warning">
                            Pas de parcours associé
                    </span>
                    {% endfor %}
                {% else %}
                    <span class="badge bg-success">
                            Tous les parcours
                    </span>
                {% endif %}
            </p>
        </div>
        <div class="card-footer">
            <div class="col-12 d-flex align-items-center justify-content-md-end mb-2">
                <a href="{{ path('but_fiche_ressource',
                    {'apcRessource': ressource.id, parcours: parcours != null ? parcours.id : null }) }}"
                   class="btn btn-block btn-sm btn-icon btn-icon-start btn-outline-primary ms-1"
                   target="_blank"
                >
                    <i class="bi-info-circle"></i>
                    <span class="d-none d-xxl-inline-block">Voir la fiche ressource</span>
                </a>
            </div>
            {% if is_granted('ROLE_EDITEUR')  %}
            <div class="col-12 d-flex align-items-center justify-content-md-end">
                <a href="{{ path('formation_apc_ressource_duplicate',
                {'id': ressource.id, parcours: parcours != null ? parcours.id : null }) }}" class="btn btn-sm btn-icon btn-icon-start btn-outline-info ms-1"
                   type="button">
                    <i class="bi-files"></i>
                    <span class="d-none d-xxl-inline-block">Dupliquer</span>
                </a>
                <a href="{{ path('formation_apc_ressource_edit',
                    {'id': ressource.id, parcours: parcours != null ? parcours.id : null }) }}" class="btn btn-sm
                    btn-icon btn-icon-start btn-outline-warning ms-1" type="button">
                    <i class="bi-pencil-square"></i>
                    <span class="d-none d-xxl-inline-block">Modifier</span>
                </a>
                {% if is_granted('ROLE_PACD') %}
                    {{ include('form/_delete_form.html.twig', {path: path('formation_apc_ressource_delete',
                        {id: ressource.id, }), id: ressource.id}) }}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
