{% extends 'base.html.twig' %}

{% block header %}{{ apc_sae.display }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ include('formation/apc_sae/_detail.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ' ~apc_sae.semestre.annee.ordre,
        },
        {
            href: path('but_sae_annee', {annee: apc_sae.semestre.annee.id, semestre: apc_sae
        .semestre.id}),
            title: 'Les SAÉ',
        },
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('but_sae_annee', {annee: apc_sae.semestre.annee.id, semestre: apc_sae
    .semestre.id}) }}" class="btn btn-outline-info
        btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       >
        <i class="bi-arrow-left-circle"></i>
        <span>Retour</span>
    </a>
    {% if  is_granted('ROLE_EDITEUR') %}
        <a href="{{ path('formation_apc_sae_edit', {id:apc_sae.id}) }}" class="btn btn-outline-warning
        btn-icon btn-icon-end w-100 w-sm-auto mx-2"
           >
            <i class="bi-pencil-square"></i>
            <span>Modifier</span>
        </a>
        {% if  is_granted('ROLE_PACD') %}
            <a href="{{ path('formation_apc_sae_edit', {id:apc_sae.id}) }}" class="btn btn-outline-danger
            btn-icon btn-icon-end
            w-100 w-sm-auto"
               >
                <i class="bi-trash"></i>
                <span>Supprimer</span>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
