{% extends 'base.html.twig' %}

{% block header %}{{ apc_ressource.display }}{% endblock %}

{% block content %}
    {% if apc_ressource.ficheAdaptationLocale == true %}
        <div class="alert alert-warning mb-2">Fiche d'adaptation locale. Non publiée et non prise en compte dans les
                                              tableaux.
        </div>
    {% endif %}

    <div class="card {% if apc_ressource.ficheAdaptationLocale == true %} bg-warning text-white{% endif %}">
        <div class="card-body">
            {{ include('formation/apc_ressource/_detail.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ' ~apc_ressource.semestre.annee.ordre,
        },
        {
            href: path('but_ressources_annee', {annee: apc_ressource.semestre.annee.id, semestre: apc_ressource
        .semestre.id}),
            title: 'Les ressources',
        },
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('but_ressources_annee', {annee: apc_ressource.semestre.annee.id, semestre: apc_ressource
    .semestre.id}) }}" class="btn btn-sm btn-outline-info
        btn-icon btn-icon-end w-100 w-sm-auto mx-2"
    >
        <i class="bi-arrow-left-circle"></i>
        <span>Retour</span>
    </a>
{#    #}
{#    <a href="{{ path('export_word_ressource', {ressource: apc_ressource.id}) }}" class="btn btn-sm btn-outline-success#}
{#        btn-icon btn-icon-end w-100 w-sm-auto mx-2"#}
{#    >#}
{#        <i class="bi-download"></i>#}
{#        <span>Export Word</span>#}
{#    </a>#}
    {% if user_data.departement.pnBloque == false %}

        {% if  is_granted('ROLE_EDITEUR') %}
            <a href="{{ path('formation_apc_ressource_edit', {id:apc_ressource.id}) }}"
               class="btn btn-sm btn-outline-warning btn-icon btn-icon-end w-100 w-sm-auto mx-2"
               id="dashboardTourButton">
                <i class="bi-pencil-square"></i>
                <span>Modifier</span>
            </a>
            {% if is_granted('ROLE_PACD') and user_data.departement.verouilleCroise == false %}
                {{ include('form/_delete_form.html.twig', {path: path('formation_apc_ressource_delete',
                    {id: apc_ressource.id, }), id: apc_ressource.id}) }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
