{% extends 'base.html.twig' %}

{% block content %}
    {# todo: Bouton export ? #}

    <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs" id="lineTitleTabsContainer" role="tablist">
        {% for semestre in semestres %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if (selectSemestre == null and loop.first) or (selectSemestre != null and selectSemestre.id
                    == semestre.id) %}active{% endif %} changeSemestreRessources" data-bs-toggle="tab"
                   data-semestre="{{ semestre.id }}"
                   href="#semestre_{{ semestre.id }}"
                   role="tab"
                   aria-selected="true">{{ semestre.libelle }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for semestre in semestres %}
            <div class="tab-pane {% if (selectSemestre == null and loop.first) or (selectSemestre != null and selectSemestre.id
                == semestre.id) %}active{% endif %}" id="semestre_{{ semestre.id }}" role="tabpanel">
                <div class="row g-4 mb-4">
                    {% for ressource in ressources[semestre.id] %}
                        {{ include('but/_cardRessource.html.twig') }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block header %}
    Ressources du B.U.T. {{ annee.ordre }} {% if parcours != null %} | {{ parcours.libelle }}{% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ' ~annee.ordre,
        },
    ]}) }}
{% endblock %}

{% block bouton_header %}
    {% if selectSemestre != null %}
        {% set sem = selectSemestre.id %}
    {% else %}
        {% set sem = annee.semestres[0].id %}
    {% endif %}

    {% if  is_granted('ROLE_EDITEUR') %}
        {% if user_data.departement.typeStructure == 'type3' and parcours is defined %}
            <a href="{{ path('formation_apc_ressource_new', {semestre: sem, parcours: parcours.id}) }}" class="btn
            btn-outline-primary
            btn-icon btn-icon-end
    w-100
    w-sm-auto"
               id="boutonAddSae">
                <i class="bi bi-plus-circle"></i>
                <span>Ajouter une ressource</span>
            </a>
        {% else %}
            <a href="{{ path('formation_apc_ressource_new', {semestre:sem}) }}" class="btn btn-outline-primary btn-icon
        btn-icon-end
        w-100 w-sm-auto"
               id="boutonAddRessource">
                <i class="bi bi-plus-circle"></i>
                <span>Ajouter une ressource</span>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}

