{% extends 'base.html.twig' %}

{% block content %}
    <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs" id="lineTitleTabsContainer" role="tablist">
        {% for semestre in semestres %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if (selectSemestre == null and loop.first) or (selectSemestre != null and selectSemestre
                    == semestre.id) %}active{% endif %} changeSemestreRessources" data-bs-toggle="tab"
                   data-semestre="{{ semestre.id }}"
                   href="#semestre_{{ semestre.id }}"
                   role="tab"
                   aria-selected="true">{{ semestre.libelle }}</a>
            </li>
        {% endfor %}
        {% for semestre in semestres %}
            <li class="nav-item" role="presentation">
                <a class="nav-link changeSemestreRessources" data-bs-toggle="tab"
                   data-semestre="{{ semestre.id }}"
                   href="#semestre_{{ semestre.id }}_tableau"
                   role="tab"
                   aria-selected="true">{{ semestre.libelle }} (tableau)</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for semestre in semestres %}
            <div class="tab-pane {% if (selectSemestre == null and loop.first) or (selectSemestre != null and selectSemestre
                == semestre.id) %}active{% endif %}" id="semestre_{{ semestre.id }}" role="tabpanel">
                <div class="row">
                    <div class="col-10">&nbsp;</div>
                    <div class="col-2">
                        {% if  is_granted('ROLE_EDITEUR') and user_data.departement.verouilleCroise == false %}
                            {% if user_data.departement.typeStructure == 'type3' and parcours != null %}
                                <a href="{{ path('formation_apc_ressource_new', {semestre: semestre.id, parcours: parcours.id})
                                }}" class="btn
            btn-outline-primary
            btn-icon btn-icon-end
    w-100
    w-sm-auto"
                                   id="boutonAddSae">
                                    <i class="bi bi-plus-circle"></i>
                                    <span>Ajouter une ressource</span>
                                </a>
                            {% else %}
                                <a href="{{ path('formation_apc_ressource_new', {semestre:semestre.id}) }}" class="btn btn-outline-primary btn-icon
        btn-icon-end
        w-100 w-sm-auto"
                                   id="boutonAddRessource">
                                    <i class="bi bi-plus-circle"></i>
                                    <span>Ajouter une ressource</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="row g-4 mb-4">
                    {% for ressource in ressources[semestre.ordreLmd] %}
                        {{ include('but/_cardRessource.html.twig') }}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="semestre_{{ semestre.id }}_tableau" role="tabpanel">
                <div class="row">
                   <table class="table table-striped">
                       <thead>
                       <tr>
                           <th rowspan="2">Code</th>
                           <th rowspan="2">Libelle</th>
                           <th colspan="2" class="text-center">PN Officiel</th>
                           {% if not is_granted('ROLE_GT') and not is_granted('ROLE_IUT') %}
                           <th colspan="3" class="text-center">Préconisation ACD</th>
                           {% endif %}
                       </tr>
                       <tr>
                           <th class="text-center">Heures Totales</th>
                           <th class="text-center">Dont TP</th>
                           {% if not is_granted('ROLE_GT') and not is_granted('ROLE_IUT') %}
                           <th class="bg-warning text-center">CM</th>
                           <th class="bg-warning text-center">TD</th>
                           <th class="bg-warning text-center">TP</th>
                           {% endif %}
                       </tr>
                       </thead>
                       <tbody>
                       {% for ressource in ressources[semestre.ordreLmd]|filter(ressource => ressource
                       .ficheAdaptationLocale == false) %}
                       <tr {% if ressource.ficheAdaptationLocale == true %}class="bg-warning text-white"{% endif %}>
                           <td style="width:15%">
                               <a href="{{ path('but_fiche_ressource',
                                   {'apcRessource': ressource.id, parcours: parcours != null ? parcours.id : null }) }}" target="_blank">
                                   {{ ressource.codeMatiere }}
                               </a>
                           </td>
                           <td  style="width:35%">
                               <a href="{{ path('but_fiche_ressource',
                                   {'apcRessource': ressource.id, parcours: parcours != null ? parcours.id : null }) }}" target="_blank">
                                   {{ ressource.libelle }}
                               </a>
                           </td>
                           <td  style="width:10%" class="text-center">{{ ressource.heuresTotales }}</td>
                           <td  style="width:10%" class="text-center"> {{ ressource.tpPpn }}</td>
                           {% if not is_granted('ROLE_GT') and not is_granted('ROLE_IUT') %}
                           <td class="bg-warning text-center"  style="width:10%">{{ ressource.cmPreco }}</td>
                           <td class="bg-warning text-center"  style="width:10%">{{ ressource.tdPreco }}</td>
                           <td class="bg-warning text-center"  style="width:10%">{{ ressource.tpPreco }}</td>
                           {% endif %}
                       </tr>
                       {% endfor %}
                       </tbody>
                   </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block header %}
    Ressources du B.U.T. {{ annee.ordre }} {% if parcours != null %} | {{ parcours.libelle }}{% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ' ~annee.ordre,
        },
    ]}) }}
{% endblock %}

{% block bouton_header %}

{% endblock %}

