{% extends 'base.html.twig' %}

{% block content %}
    {#  todo: bouton : modifier, supprimer, dupliquer par fiche. Bouton créer. Bouton export ? Ajouter un onglet
    tableau ? Heures ? #}
    <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs" id="lineTitleTabsContainer" role="tablist">
        {% for semestre in annee.semestres %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if (selectSemestre == null and loop.first) or (selectSemestre != null and selectSemestre.id
                    == semestre.id) %}active{% endif %} changeSemestreSae"
                   data-bs-toggle="tab"
                   data-semestre="{{ semestre.id }}"
                   href="#semestre_{{ semestre.id }}" role="tab"
                   aria-selected="true">{{ semestre.libelle }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for semestre in annee.semestres %}
            <div class="tab-pane {% if (selectSemestre == null and loop.first) or (selectSemestre != null and selectSemestre.id
                == semestre.id) %}active{% endif %}" id="semestre_{{ semestre.id }}" role="tabpanel">
                <div class="row g-4 mb-4">
                {% for sae in saes[semestre.id] %}
                    {{ include('but/_cardSae.html.twig') }}
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block header %}
    SAÉ du B.U.T. {{ annee.ordre }} {% if parcours != null %} | {{ parcours.libelle }}{% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ' ~annee.ordre,
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    {% if selectSemestre != null %}
        {% set sem = selectSemestre.id %}
    {% else %}
        {% set sem = annee.semestres[0] %}
    {% endif %}

    {% if is_granted('ROLE_EDITEUR') %}
    <a href="{{ path('formation_apc_sae_new', {semestre: sem}) }}" class="btn btn-outline-primary btn-icon btn-icon-end
    w-100
    w-sm-auto"
       id="boutonAddSae">
        <i class="bi bi-plus-circle"></i>
        <span>Ajouter une SAÉ</span>
    </a>
    {% endif %}
{% endblock %}

