{% extends 'base.html.twig' %}

{% block content %}
    {#  todo: bouton : Bouton export  #}
    <ul class="nav nav-tabs nav-tabs-title nav-tabs-line-title responsive-tabs" id="lineTitleTabsContainer" role="tablist">
        {% for semestre in semestres %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if (selectSemestre == null and loop.first) or (selectSemestre != null and selectSemestre
                    == semestre.id) %}active{% endif %} changeSemestreSae"
                   data-bs-toggle="tab"
                   data-semestre="{{ semestre.id }}"
                   href="#semestre_{{ semestre.id }}" role="tab"
                   aria-selected="true">{{ semestre.libelle }}</a>
            </li>
        {% endfor %}
        {% for semestre in semestres %}
            <li class="nav-item" role="presentation">
                <a class="nav-link changeSemestreSae"
                   data-bs-toggle="tab"
                   data-semestre="{{ semestre.id }}"
                   href="#semestre_{{ semestre.id }}_tableau" role="tab"
                   aria-selected="true">{{ semestre.libelle }} (tableau)</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for semestre in semestres %}

            <div class="tab-pane {% if (selectSemestre == null and loop.first) or (selectSemestre != null and selectSemestre
                == semestre.id) %}active{% endif %}" id="semestre_{{ semestre.id }}" role="tabpanel">
                <div class="row">
                    <div class="col-10">&nbsp;</div>
                    <div class="col-2">
                        {% if is_granted('ROLE_EDITEUR') and user_data.departement.verouilleCroise == false %}
                            {% if user_data.departement.typeStructure == 'type3' and parcours is defined %}
                                <a href="{{ path('formation_apc_sae_new', {semestre: semestre.id, parcours: parcours.id}) }}" class="btn
            btn-outline-primary
            btn-icon btn-icon-end
    w-100
    w-sm-auto"
                                   id="boutonAddSae">
                                    <i class="bi bi-plus-circle"></i>
                                    <span>Ajouter une SAÉ</span>
                                </a>
                            {% else %}
                                <a href="{{ path('formation_apc_sae_new', {semestre: semestre.id}) }}" class="btn btn-outline-primary btn-icon btn-icon-end
    w-100
    w-sm-auto"
                                   id="boutonAddSae">
                                    <i class="bi bi-plus-circle"></i>
                                    <span>Ajouter une SAÉ</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="row g-4 mb-4">
                {% for sae in saes[semestre.ordreLmd] %}
                    {{ include('but/_cardSae.html.twig') }}
                {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="semestre_{{ semestre.id }}_tableau" role="tabpanel">
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th rowspan="2">Code</th>
                            <th rowspan="2">Libelle</th>
                            {% if not is_granted('ROLE_GT') and not is_granted('ROLE_IUT') %}
                            <th colspan="3" class="text-center">Préconisation ACD</th>
                            {% endif %}
                        </tr>

                        <tr>
                            {% if not is_granted('ROLE_GT') and not is_granted('ROLE_IUT') %}
                            <th class="bg-warning text-center">Heures totales (hors ptut)</th>
                            <th class="bg-warning text-center">Dont TP</th>
                            <th class="bg-warning text-center">Ptut</th>
                            {% endif %}
                        </tr>

                        </thead>
                        <tbody>
                        {% for sae in saes[semestre.ordreLmd]|filter(sae => sae.ficheAdaptationLocale == true) %}
                            <tr {% if sae.ficheAdaptationLocale == true %}class="bg-warning text-white"{% endif %}>
                                <td style="width:20%">
                                    <a href="{{ path('but_fiche_sae',
                                        {'apcSae': sae.id, parcours: parcours != null ? parcours.id : null}) }}" target="_blank">
                                    {{ sae.codeMatiere }}
                                    </a>
                                </td>
                                <td style="width:50%">
                                    <a href="{{ path('but_fiche_sae',
                                        {'apcSae': sae.id, parcours: parcours != null ? parcours.id : null}) }}" target="_blank">
                                    {{ sae.libelle }}
                                    </a>
                                </td>
                                {% if not is_granted('ROLE_GT') and not is_granted('ROLE_IUT') %}
                                <td class="bg-warning text-center" style="width:10%">{{ sae.heuresTotales }}</td>
                                <td class="bg-warning text-center" style="width:10%">{{ sae.tpPpn }}</td>
                                <td class="bg-warning text-center" style="width:10%">{{ sae.projetPpn }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block header %}
    SAÉ du B.U.T. {{ annee.ordre }} {% if parcours != null %} | {{ parcours.libelle }}{% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'B.U.T. ' ~annee.ordre,
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}

{% endblock %}

