{% extends 'base.html.twig' %}

{% block header %}Gestion des utilisateurs{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Spécialité</th>
                    <th>Autorisation</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>

                {% for user in users %}
                    <tr>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.departement != null ? user.departement.sigle : '' }}</td>
                        <td>
                            {% for role in user.roles %}
                                <span class="badge bg-info">{{ role }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('administration_utilisateur_show',
                                {id: user.id, }) }}" class="btn btn-sm btn-icon btn-icon-start btn-outline-info
                                ms-1"
                               type="button">
                                <i class="bi-info-circle"></i>
                                <span class="d-none d-xxl-inline-block">Voir</span>
                            </a>
                            <a href="{{ path('administration_utilisateur_edit',
                                {id: user.id, }) }}" class="btn btn-sm btn-icon btn-icon-start btn-outline-warning ms-1" type="button">
                                <i class="bi-pencil-square"></i>
                                <span class="d-none d-xxl-inline-block">Modifier</span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('administration_utilisateur_new') }}" class="btn btn-outline-primary btn-icon btn-icon-end w-100 w-sm-auto"
       id="dashboardTourButton">
        <i data-cs-icon="plus"></i>
        <span>Ajouter un utilisateur</span>
    </a>
{% endblock %}
