{% extends 'base.html.twig' %}

{% block header %}Détails de l'utilisateur {{ user.display }}{% endblock %}

{% block bouton_header %}
    <a href="{{ path('administration_utilisateur_index') }}" class="btn btn-outline-primary btn-icon
    btn-icon-end
    w-100 w-sm-auto"
       id="dashboardTourButton">
        <i class="bi bi-arrow-left-circle"></i>
        <span>Retour</span>
    </a>
    {% if is_granted('ROLE_PACD') or is_granted('ROLE_CPN') %}
    <a href="{{ path('administration_utilisateur_edit', {id:user.id}) }}" class="btn btn-outline-warning btn-icon
    btn-icon-end
    w-100 w-sm-auto"
       id="dashboardTourButton">
        <i class="bi bi-pencil"></i>
        <span>Modifier l'utilisateur</span>
    </a>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href: path('administration_utilisateur_index'),
            title: 'Gestion des utilisateurs',
        },
    ]}) }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Civilite</th>
                    <td>{{ user.civilite }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.nom }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{ user.prenom }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>
                    {% for role in user.roles %}
                        <span class="badge bg-info">{{ role }}</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Spécialité(s)</th>
                    <td>
                        {% if user.isCpn %}
                            <p>Secrétaire de CPN pour :
                                {% for dpt in  user.cpnDepartements %}
                                <span class="badge bg-info">
                                    {{ dpt.sigle }}
                                </span>
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% if user.isPacd|length > 0 %}
                            <p>PACD de :
                                    <span class="badge bg-info">
                                         {{ user.departement.sigle }}
                                    </span>
                            </p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Email vérifié ?</th>
                    <td>{{ user.isVerified ? 'Oui' : '<span class="badge bg-danger">Non</span>' }}</td>
                </tr>
                </tbody>
            </table>
            {% if is_granted('ROLE_PACD') or is_granted('ROLE_CPN') %}
            <a href="{{ path('administration_utilisateur_init_password', {id:user.id}) }}" class="btn
            btn-danger">Initiliaser le
             mot de passe ?</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
